In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## 1. C√°c l·ªánh c∆° b·∫£n v·ªõi Pandas

**ƒê·ªçc CSV:**
- `pd.read_csv()`: ƒê·ªçc file CSV th√†nh DataFrame
- `df.head()`: Xem tr∆∞·ªõc v√†i d√≤ng ƒë·∫ßu c·ªßa DataFrame (default l√† 5)
- `df.tail()`: Xem v√†i d√≤ng cu·ªëi c·ªßa DataFrame (default l√† 5)

In [4]:
# Xem 5 d√≤ng ƒë·∫ßu ti√™n
print("5 d√≤ng ƒë·∫ßu ti√™n (head):")
print(df.head())

print("\n" + "="*70 + "\n")

# Xem 5 d√≤ng cu·ªëi c√πng
print("5 d√≤ng cu·ªëi c√πng (tail):")
print(df.tail())

# C√≥ th·ªÉ truy·ªÅn s·ªë kh√°c: df.head(10), df.tail(3)

5 d√≤ng ƒë·∫ßu ti√™n (head):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

======================================================================

5 d√≤ng cu·ªëi c√πng (tail):
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

## 2. L·∫•y m·∫´u ng·∫´u nhi√™n v·ªõi sample()

**df.sample(n)**: L·∫•y **n d√≤ng ng·∫´u nhi√™n** (m·∫∑c ƒë·ªãnh n=1)
- D√πng ƒë·ªÉ ki·ªÉm tra nhanh d·ªØ li·ªáu
- T·∫°o t·∫≠p test/train ng·∫´u nhi√™n
- M·ªói l·∫ßn ch·∫°y s·∫Ω cho k·∫øt qu·∫£ kh√°c nhau

**Tham s·ªë:**
- `n`: S·ªë d√≤ng mu·ªën l·∫•y
- `frac`: T·ª∑ l·ªá ph·∫ßn trƒÉm (0.1 = 10%)

In [5]:
# L·∫•y 1 d√≤ng ng·∫´u nhi√™n (m·∫∑c ƒë·ªãnh)
print("1 d√≤ng ng·∫´u nhi√™n:")
print(df.sample())

print("\n" + "="*70 + "\n")

# L·∫•y 5 d√≤ng ng·∫´u nhi√™n
print("5 d√≤ng ng·∫´u nhi√™n:")
print(df.sample(5))

print("\n" + "="*70 + "\n")

# L·∫•y 10% d·ªØ li·ªáu ng·∫´u nhi√™n
print("10% d·ªØ li·ªáu ng·∫´u nhi√™n:")
print(df.sample(frac=0.1))

1 d√≤ng ng·∫´u nhi√™n:
     PassengerId  Survived  Pclass               Name   Sex   Age  SibSp  \
236          237         0       2  Hold, Mr. Stephen  male  44.0      1

     Parch Ticket  Fare Cabin Embarked
236      0  26707  26.0   NaN        S

======================================================================

5 d√≤ng ng·∫´u nhi√™n:
     PassengerId  Survived  Pclass                              Name     Sex  \
613          614         0       3                  Horgan, Mr. John    male
636          637         0       3        Leinonen, Mr. Antti Gustaf    male
330          331         1       3                McCoy, Miss. Agnes  female
701          702         1       1  Silverthorne, Mr. Spencer Victor    male
257          258         1       1              Cherry, Miss. Gladys  female

      Age  SibSp  Parch             Ticket     Fare Cabin Embarked
613   NaN      0      0             370377   7.7500   NaN        Q
636  32.0      0      0  STON/O 2. 3101292   7.9250   NaN        S
330   NaN      2      0             367226  23.2500   NaN        Q
701  35.0      0      0           PC 17475  26.2875   E24        S
257  30.0      0      0             110152  86.5000   B77        S

======================================================================

10% d·ªØ li·ªáu ng·∫´u nhi√™n:
     PassengerId  Survived  Pclass                           Name     Sex  \
739          740         0       3             Nankoff, Mr. Minko    male
642          643         0       3  Skoog, Miss. Margit Elizabeth  female
592          593         0       3     Elsbury, Mr. William James    male
724          725         1       1  Chambers, Mr. Norman Campbell    male
420          421         0       3         Gheorgheff, Mr. Stanio    male
..           ...       ...     ...                            ...     ...
270          271         0       1          Cairns, Mr. Alexander    male
461          462         0       3            Morley, Mr. William    male
296          297         0       3             Hanna, Mr. Mansour    male
128          129         1       3              Peter, Miss. Anna  female
303          304         1       2            Keane, Miss. Nora A  female

      Age  SibSp  Parch    Ticket     Fare  Cabin Embarked
739   NaN      0      0    349218   7.8958    NaN        S
642   2.0      3      2    347088  27.9000    NaN        S
592  47.0      0      0  A/5 3902   7.2500    NaN        S
724  27.0      1      0    113806  53.1000     E8        S
420   NaN      0      0    349254   7.8958    NaN        C
..    ...    ...    ...       ...      ...    ...      ...
270   NaN      0      0    113798  31.0000    NaN        S
461  34.0      0      0    364506   8.0500    NaN        S
296  23.5      0      0      2693   7.2292    NaN        C
128   NaN      1      1      2668  22.3583  F E69        C
303   NaN      0      0    226593  12.3500   E101        Q

[89 rows x 12 columns]

## 3. L·∫•y k√≠ch th∆∞·ªõc DataFrame v·ªõi shape

**df.shape**: Tr·∫£ v·ªÅ tuple **(s·ªë h√†ng, s·ªë c·ªôt)**
- `df.shape[0]`: S·ªë h√†ng (rows)
- `df.shape[1]`: S·ªë c·ªôt (columns)

In [6]:
# L·∫•y k√≠ch th∆∞·ªõc DataFrame
print(f"K√≠ch th∆∞·ªõc data frame: {df.shape[0]} h√†ng, {df.shape[1]} c·ªôt")

K√≠ch th∆∞·ªõc data frame: 891 h√†ng, 12 c·ªôt

## 4. Th√¥ng tin chi ti·∫øt v·ªõi info()

**df.info()**: Hi·ªÉn th·ªã th√¥ng tin t·ªïng quan v·ªÅ DataFrame:
- S·ªë h√†ng v√† s·ªë c·ªôt
- T√™n c√°c c·ªôt
- Ki·ªÉu d·ªØ li·ªáu c·ªßa t·ª´ng c·ªôt (dtype)
- S·ªë gi√° tr·ªã non-null (kh√¥ng ph·∫£i NaN)
- Dung l∆∞·ª£ng b·ªô nh·ªõ

**D√πng ƒë·ªÉ:**
- Ki·ªÉm tra missing values (NaN)
- X√°c ƒë·ªãnh ki·ªÉu d·ªØ li·ªáu c·∫ßn chuy·ªÉn ƒë·ªïi
- ∆Ø·ªõc l∆∞·ª£ng dung l∆∞·ª£ng b·ªô nh·ªõ

In [7]:
# Xem th√¥ng tin chi ti·∫øt v·ªÅ DataFrame
df.info()

print("\nüí° Gi·∫£i th√≠ch:")
print("- Non-Null Count: S·ªë gi√° tr·ªã kh√¥ng ph·∫£i NaN")
print("- Dtype: Ki·ªÉu d·ªØ li·ªáu (int64, float64, object)")
print("- object: Th∆∞·ªùng l√† chu·ªói (string)")
print("- N·∫øu Non-Null < t·ªïng h√†ng ‚Üí C√≥ missing values!")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

üí° Gi·∫£i th√≠ch:
- Non-Null Count: S·ªë gi√° tr·ªã kh√¥ng ph·∫£i NaN
- Dtype: Ki·ªÉu d·ªØ li·ªáu (int64, float64, object)
- object: Th∆∞·ªùng l√† chu·ªói (string)
- N·∫øu Non-Null < t·ªïng h√†ng ‚Üí C√≥ missing values!

## 5. L·∫•y t·∫≠p m·∫´u ng·∫´u nhi√™n

**M·ª•c ƒë√≠ch:** T·∫°o t·∫≠p test nh·ªè ƒë·ªÉ th·ª≠ nghi·ªám
- L·∫•y 10 d√≤ng ng·∫´u nhi√™n
- Gi·ªØ nguy√™n index g·ªëc ƒë·ªÉ truy v·∫øt

In [8]:
# L·∫•y 10 d√≤ng ng·∫´u nhi√™n l√†m t·∫≠p test
print("L·∫•y 10 d√≤ng ng·∫´u nhi√™n l√†m t·∫≠p test:")
test_set = df.sample(10) 
print(test_set)

print(f"\n‚Üí Index g·ªëc: {test_set.index.tolist()}")

L·∫•y 10 d√≤ng ng·∫´u nhi√™n l√†m t·∫≠p test:
     PassengerId  Survived  Pclass  \
362          363         0       3
615          616         1       2
130          131         0       3
657          658         0       3
794          795         0       3
427          428         1       2
569          570         1       3
532          533         0       3
742          743         1       1
644          645         1       3

                                                  Name     Sex    Age  SibSp  \
362                    Barbara, Mrs. (Catherine David)  female  45.00      0
615                                Herman, Miss. Alice  female  24.00      1
130                               Drazenoic, Mr. Jozef    male  33.00      0
657                      Bourke, Mrs. John (Catherine)  female  32.00      1
794                              Dantcheff, Mr. Ristiu    male  25.00      0
427  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  female  19.00      0
569                                  Jonsson, Mr. Carl    male  32.00      0
532                               Elias, Mr. Joseph Jr    male  17.00      1
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
644                             Baclini, Miss. Eugenie  female   0.75      2

     Parch    Ticket      Fare            Cabin Embarked
362      1      2691   14.4542              NaN        C
615      2    220845   65.0000              NaN        S
130      0    349241    7.8958              NaN        C
657      1    364849   15.5000              NaN        Q
794      0    349203    7.8958              NaN        S
427      0    250655   26.0000              NaN        S
569      0    350417    7.8542              NaN        S
532      1      2690    7.2292              NaN        C
742      2  PC 17608  262.3750  B57 B59 B63 B66        C
644      1      2666   19.2583              NaN        C

‚Üí Index g·ªëc: [362, 615, 130, 657, 794, 427, 569, 532, 742, 644]

## 6. L∆∞u index g·ªëc v√† reset index

**V·∫•n ƒë·ªÅ:** Khi l·∫•y sample, index kh√¥ng li√™n t·ª•c (VD: 5, 23, 105, ...)

**Gi·∫£i ph√°p:**
1. **L∆∞u index g·ªëc v√†o c·ªôt m·ªõi**: `df.index` tr·∫£ v·ªÅ index hi·ªán t·∫°i
2. **Reset index**: `reset_index(drop=True)` t·∫°o index m·ªõi 0, 1, 2, ...

**L∆∞u √Ω v·ªÅ apply():**
- C√¢u l·ªánh `test_set["idx_root"] = test_set.index` **KH√îNG** d√πng apply()
- ƒê√¢y l√† g√°n tr·ª±c ti·∫øp (vectorized) - NHANH h∆°n apply()
- `test_set.index` tr·∫£ v·ªÅ Series c·ªßa index
- G√°n tr·ª±c ti·∫øp v√†o c·ªôt m·ªõi ‚Üí Kh√¥ng c·∫ßn v√≤ng l·∫∑p!

In [9]:
test_set["idx_root"] = test_set.index

# drop=True: B·ªè c·ªôt index c≈©, kh√¥ng gi·ªØ l·∫°i
test_set = test_set.reset_index(drop=True)

print("\nSau khi reset index:")
print(test_set[["Name", "idx_root"]])

Sau khi reset index:
                                                Name  idx_root
0                    Barbara, Mrs. (Catherine David)       362
1                                Herman, Miss. Alice       615
2                               Drazenoic, Mr. Jozef       130
3                      Bourke, Mrs. John (Catherine)       657
4                              Dantcheff, Mr. Ristiu       794
5  Phillips, Miss. Kate Florence ("Mrs Kate Louis...       427
6                                  Jonsson, Mr. Carl       569
7                               Elias, Mr. Joseph Jr       532
8              Ryerson, Miss. Susan Parker "Suzette"       742
9                             Baclini, Miss. Eugenie       644

## 7. V√≠ d·ª• th·ª±c s·ª± d√πng apply() - Ph√¢n lo·∫°i h√†nh kh√°ch

**B√¢y gi·ªù m·ªõi l√† v√≠ d·ª• TH·ª∞C S·ª∞ d√πng apply()!**

M·ª•c ƒë√≠ch:
- Ph√¢n lo·∫°i d·ª±a tr√™n nhi·ªÅu ƒëi·ªÅu ki·ªán ph·ª©c t·∫°p
- C·∫ßn x·ª≠ l√Ω t·ª´ng h√†ng (row) ri√™ng bi·ªát d·ª±a tr√™n nhi·ªÅu tr∆∞·ªùng d·ªØ li·ªáu
- D√πng `apply(axis=1)` ƒë·ªÉ √°p d·ª•ng h√†m tr√™n t·ª´ng h√†ng

In [12]:
def classify_passenger(row):
    age = row['Age']
    pclass = row['Pclass']
    fare = row['Fare']
    sex = row['Sex']
    
    if pd.isna(age):
        return "Unknown"
    elif age < 12:
        return "Child"
    elif age < 18:
        if pclass == 1:
            return "Rich Teen"
        else:
            return "Teen"
    elif sex == 'female' and pclass == 1 and fare > 50:
        return "VIP Lady"
    elif pclass == 1:
        return "First Class Adult"
    elif age > 60:
        return "Senior"
    else:
        return "Regular Adult"


test_set['PassengerType'] = test_set.apply(classify_passenger, axis=1)

print("Ph√¢n lo·∫°i h√†nh kh√°ch b·∫±ng apply():")
print(test_set[['Name', 'Age', 'Sex', 'Pclass', 'Fare', 'PassengerType']])

Ph√¢n lo·∫°i h√†nh kh√°ch b·∫±ng apply():
                                                Name    Age     Sex  Pclass  \
0                    Barbara, Mrs. (Catherine David)  45.00  female       3
1                                Herman, Miss. Alice  24.00  female       2
2                               Drazenoic, Mr. Jozef  33.00    male       3
3                      Bourke, Mrs. John (Catherine)  32.00  female       3
4                              Dantcheff, Mr. Ristiu  25.00    male       3
5  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  19.00  female       2
6                                  Jonsson, Mr. Carl  32.00    male       3
7                               Elias, Mr. Joseph Jr  17.00    male       3
8              Ryerson, Miss. Susan Parker "Suzette"  21.00  female       1
9                             Baclini, Miss. Eugenie   0.75  female       3

       Fare  PassengerType
0   14.4542  Regular Adult
1   65.0000  Regular Adult
2    7.8958  Regular Adult
3   15.5000  Regular Adult
4    7.8958  Regular Adult
5   26.0000  Regular Adult
6    7.8542  Regular Adult
7    7.2292           Teen
8  262.3750       VIP Lady
9   19.2583          Child

## 8. Th·ªëng k√™ m√¥ t·∫£ v·ªõi describe()

**df.describe()**: Th·ªëng k√™ m√¥ t·∫£ c√°c c·ªôt s·ªë
- count: S·ªë gi√° tr·ªã kh√¥ng ph·∫£i NaN
- mean: Trung b√¨nh
- std: ƒê·ªô l·ªách chu·∫©n
- min, max: Gi√° tr·ªã nh·ªè nh·∫•t, l·ªõn nh·∫•t
- 25%, 50%, 75%: Ph√¢n v·ªã (quartiles)

In [15]:
# Th·ªëng k√™ m√¥ t·∫£
print("üìä Th·ªëng k√™ m√¥ t·∫£ c√°c c·ªôt s·ªë:")
print("="*70)
print(df.describe())
# print(test_set.describe())

print("\nüí° Gi·∫£i th√≠ch:")
print("- count: S·ªë gi√° tr·ªã kh√¥ng ph·∫£i NaN (Age c√≥ 714/891 ‚Üí thi·∫øu 177 gi√° tr·ªã)")
print("- mean: Tu·ªïi trung b√¨nh ~29.7, gi√° v√© trung b√¨nh ~32.2")
print("- std: ƒê·ªô l·ªách chu·∫©n ‚Üí Fare c√≥ std=49.7 (bi·∫øn ƒë·ªông l·ªõn!)")
print("- 50%: Trung v·ªã (median) ‚Üí Tu·ªïi gi·ªØa l√† 28")
print("- 75% - 25% = IQR (Interquartile Range) ‚Üí Ph√°t hi·ªán outliers")

üìä Th·ªëng k√™ m√¥ t·∫£ c√°c c·ªôt s·ªë:
======================================================================
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

üí° Gi·∫£i th√≠ch:
- count: S·ªë gi√° tr·ªã kh√¥ng ph·∫£i NaN (Age c√≥ 714/891 ‚Üí thi·∫øu 177 gi√° tr·ªã)
- mean: Tu·ªïi trung b√¨nh ~29.7, gi√° v√© trung b√¨nh ~32.2
- std: ƒê·ªô l·ªách chu·∫©n ‚Üí Fare c√≥ std=49.7 (bi·∫øn ƒë·ªông l·ªõn!)
- 50%: Trung v·ªã (median) ‚Üí Tu·ªïi gi·ªØa l√† 28
- 75% - 25% = IQR (Interquartile Range) ‚Üí Ph√°t hi·ªán outliers

## 9. ƒê·∫øm gi√° tr·ªã unique v√† value_counts()

**ƒê·∫øm gi√° tr·ªã unique:**
- `df['column'].nunique()`: S·ªë gi√° tr·ªã unique
- `df['column'].unique()`: M·∫£ng c√°c gi√° tr·ªã unique (c√≥ th·ªÉ hi·ªÉu set gi√° tr·ªã)
- `df['column'].value_counts()`: ƒê·∫øm t·∫ßn su·∫•t xu·∫•t hi·ªán

In [16]:
# ƒê·∫øm gi√° tr·ªã unique
print(f"Sex: {df['Sex'].nunique()} gi√° tr·ªã ‚Üí {df['Sex'].unique()}")
print(f"Pclass: {df['Pclass'].nunique()} gi√° tr·ªã ‚Üí {df['Pclass'].unique()}")
print(f"Embarked: {df['Embarked'].nunique()} gi√° tr·ªã ‚Üí {df['Embarked'].unique()}")

print("="*70)

print("\n1. Ph√¢n b·ªë gi·ªõi t√≠nh:")
print(df['Sex'].value_counts())

print("\n2. Ph√¢n b·ªë h·∫°ng v√©:")
print(df['Pclass'].value_counts())

print("\n3. Ph√¢n b·ªë c·∫£ng l√™n t√†u:")
print(df['Embarked'].value_counts())

Sex: 2 gi√° tr·ªã ‚Üí ['male' 'female']
Pclass: 3 gi√° tr·ªã ‚Üí [3 1 2]
Embarked: 3 gi√° tr·ªã ‚Üí ['S' 'C' 'Q' nan]
======================================================================

1. Ph√¢n b·ªë gi·ªõi t√≠nh:
Sex
male      577
female    314
Name: count, dtype: int64

2. Ph√¢n b·ªë h·∫°ng v√©:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

3. Ph√¢n b·ªë c·∫£ng l√™n t√†u:
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

## 10. X·ª≠ l√≠ Nan

**ƒê·∫øm gi√° tr·ªã Nan trong m·ªói c·ªôt:**
- `df.isna().sum()`: Tr·∫£ v·ªÅ s·ªë l∆∞·ª£ng Nan trong m·ªói c·ªôt

**Lo·∫°i b·ªè h√†ng c√≥ Nan:**
- `df.dropna()`: Lo·∫°i b·ªè c√°c h√†ng c√≥ √≠t nh·∫•t m·ªôt gi√° tr·ªã NaN

**Thay th·∫ø Nan b·∫±ng gi√° tr·ªã kh√°c:**
- `df.fillna(value)`: Thay th·∫ø t·∫•t c·∫£ Nan b·∫±ng `value`
- N√™n xem x√©t thay b·∫±ng c√°c gi√° tr·ªã sau: 0, -1, mean, median, mode, "Unknown"

In [17]:
print(f"S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt l√†:\n {df.isna().sum()}")

S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt l√†:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
print(f"K√≠ch th∆∞·ªõc df ban ƒë·∫ßu:", df.shape)

df_clean = df.dropna()   # Lo·∫°i b·ªè c√°c h√†ng c√≥ NaN
print(f"K√≠ch th∆∞·ªõc df sau khi lo·∫°i b·ªè NaN:", df_clean.shape)

print("=" * 72)
print("D·ªØ li·ªáu sau khi lo·∫°i b·ªè NaN:\n", df_clean)

K√≠ch th∆∞·ªõc df ban ƒë·∫ßu: (891, 12)
K√≠ch th∆∞·ªõc df sau khi lo·∫°i b·ªè NaN: (183, 12)
========================================================================
D·ªØ li·ªáu sau khi lo·∫°i b·ªè NaN:
      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]

In [19]:
# L·∫•y ra 100 d·ªØ li·ªáu test t·ª´ df ƒë·ªÉ th·ª≠ thay th·∫ø 
df_test_nan = df.sample(100, random_state=42)
print("D·ªØ li·ªáu test ban ƒë·∫ßu v·ªõi NaN:\n", df_test_nan.sample(3))

print("=" * 72)
print(f"S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt l√†:\n {df_test_nan.isna().sum()}")


df_test_nan['Age'] = df_test_nan['Age'].fillna(df_clean['Age'].mean())      # ƒëi·ªÅn b·∫±ng trung b√¨nh c·ªßa d·ªØ li·ªáu s·∫°ch
df_test_nan['Age'] = df_test_nan['Age'].fillna(df_clean['Age'].median())    # ƒëi·ªÅn b·∫±ng trung v·ªã c·ªßa d·ªØ li·ªáu s·∫°ch
df_test_nan['Cabin'] = df_test_nan['Cabin'].fillna('Unknown')  # ƒëi·ªÅn b·∫±ng 'Unknown'


print(f"S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt sau khi fill l√†:\n {df_test_nan.isna().sum()}")

D·ªØ li·ªáu test ban ƒë·∫ßu v·ªõi NaN:
      PassengerId  Survived  Pclass                            Name     Sex  \
136          137         1       1    Newsom, Miss. Helen Monypeny  female
110          111         0       1  Porter, Mr. Walter Chamberlain    male
266          267         0       3       Panula, Mr. Ernesti Arvid    male

      Age  SibSp  Parch   Ticket     Fare Cabin Embarked
136  19.0      0      2    11752  26.2833   D47        S
110  47.0      0      0   110465  52.0000  C110        S
266  16.0      4      1  3101295  39.6875   NaN        S
========================================================================
S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt l√†:
 PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            17
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin          75
Embarked        0
dtype: int64
S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt sau khi fill l√†:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

## 11. X·ª≠ l√≠ Tr√πng l·∫∑p

**Ki·ªÉm tra tr√πng l·∫∑p**
- `df.duplicated()`: Tr·∫£ v·ªÅ Series boolean, True n·∫øu h√†ng tr√πng l·∫∑p v·ªõi h√†ng tr∆∞·ªõc ƒë√≥
- `df.duplicated().sum()`: ƒê·∫øm s·ªë l∆∞·ª£ng b·∫£n ghi tr√πng l·∫∑p

**Lo·∫°i b·ªè tr√πng l·∫∑p**
- `df.drop_duplicates(inplace = True)`: Lo·∫°i b·ªè c√°c h√†ng tr√πng l·∫∑p, gi·ªØ l·∫°i h√†ng ƒë·∫ßu ti√™n t·ª´ tr√™n xu·ªëng
L∆∞u √Ω: Tham s·ªë (inplace = True) s·∫Ω ƒë·∫£m b·∫£o r·∫±ng ph∆∞∆°ng th·ª©c kh√¥ng t·∫°o ra m·ªôt DataFrame m·ªõi, m√† s·∫Ω x√≥a c√°c d√≤ng tr√πng l·∫∑p tr·ª±c ti·∫øp tr√™n DataFrame g·ªëc.

In [20]:
# Tr√πng l·∫∑p
print(df.duplicated())
print(f"S·ªë l∆∞·ª£ng b·∫£n ghi tr√πng l·∫∑p: {df.duplicated().sum()}")

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool
S·ªë l∆∞·ª£ng b·∫£n ghi tr√πng l·∫∑p: 0

In [21]:
# L·∫•y 5 d√≤ng ƒë·∫ßu v√† gh√©p th√™m 1 d√≤ng ƒë·∫ßu
df_test_dup = pd.concat([df.head(5), df.head(1)], ignore_index=False)
print(df_test_dup['Name'])

print("\n" + "="*70 + "\n")

# D√πng iloc v√† list index
df_test_dup2 = df.iloc[[0, 1, 2, 3, 4, 0]]  # index 0 xu·∫•t hi·ªán 2 l·∫ßn
print(df_test_dup2['Name'])

print("\n" + "="*70 + "\n")

print(df_test_dup.duplicated())
print(f"S·ªë l∆∞·ª£ng b·∫£n ghi tr√πng l·∫∑p trong df_test_dup: {df_test_dup.duplicated().sum()}")

print("\n" + "="*70 + "\n")

df_test_dup = df_test_dup.drop_duplicates()
print("D·ªØ li·ªáu sau khi lo·∫°i b·ªè b·∫£n tr√πng l·∫∑p:\n", df_test_dup['Name'])

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
0                              Braund, Mr. Owen Harris
Name: Name, dtype: object

======================================================================

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
0                              Braund, Mr. Owen Harris
Name: Name, dtype: object

======================================================================

0    False
1    False
2    False
3    False
4    False
0     True
dtype: bool
S·ªë l∆∞·ª£ng b·∫£n ghi tr√πng l·∫∑p trong df_test_dup: 1

======================================================================

D·ªØ li·ªáu sau khi lo·∫°i b·ªè b·∫£n tr√πng l·∫∑p:
 0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

## 12. S·ª≠ d·ª•ng groupby, SQL

GROUPBY CH·ªà S·ª¨ D·ª§NG KHI D·ªÆ LI·ªÜU, PH∆Ø∆†NG TH·ª®C X·ª¨ L√ç C·∫¶N THEO NH√ìM, PH·ª®C T·∫†P  

**C√°c ph∆∞∆°ng th·ª©c c∆° b·∫£n**
- `df.groupby('column')`: Nh√≥m d·ªØ li·ªáu theo gi√° tr·ªã trong c·ªôt
- `df.groupby('column').agg({'col1': 'mean', 'col2': 'sum'})`: T√≠nh to√°n c√°c th·ªëng k√™ t·ªïng h·ª£p cho t·ª´ng nh√≥m
- `df.groupby('Embarked').agg({'Age': 'mean', 'Fare': 'sum'})`: T√≠nh tu·ªïi trung b√¨nh v√† t·ªïng ti·ªÅn v√© theo c·∫£ng l√™n t√†u


**D√πng groupby ƒë·ªÉ nh√≥m v√† t√≠nh theo nhu c·∫ßu, ph∆∞∆°ng tr√¨nh**
- `df.groupby('Pclass')['Age'].mean()`: T√≠nh tu·ªïi trung b√¨nh theo t·ª´ng h·∫°ng v√©
- `df.groupby('Survived')['Fare'].sum()`: T√≠nh t·ªïng ti·ªÅn v√© theo tr·∫°ng th√°i s·ªëng s√≥t
- `df.groupby(['Pclass', 'Sex'])['Survived'].mean()`: T√≠nh t·ª∑ l·ªá s·ªëng s√≥t theo h·∫°ng v√© v√† gi·ªõi t√≠nh
- `df.groupby('Pclass').function()`: √Åp d·ª•ng h√†m t√πy ch·ªânh cho t·ª´ng nh√≥m

**D√πng SQL v·ªõi pandas**
- S·ª≠ d·ª•ng th∆∞ vi·ªán `pandasql` ƒë·ªÉ ch·∫°y c√¢u l·ªánh SQL tr√™n DataFrame

In [23]:
# S·ª≠ d·ª•ng b·ªô test_set ƒë·ªÉ l√†m

print("S·ª≠ d·ª•ng b·ªô test_set ƒë·ªÉ l√†m")
print(test_set)

S·ª≠ d·ª•ng b·ªô test_set ƒë·ªÉ l√†m
   PassengerId  Survived  Pclass  \
0          363         0       3
1          616         1       2
2          131         0       3
3          658         0       3
4          795         0       3
5          428         1       2
6          570         1       3
7          533         0       3
8          743         1       1
9          645         1       3

                                                Name     Sex    Age  SibSp  \
0                    Barbara, Mrs. (Catherine David)  female  45.00      0
1                                Herman, Miss. Alice  female  24.00      1
2                               Drazenoic, Mr. Jozef    male  33.00      0
3                      Bourke, Mrs. John (Catherine)  female  32.00      1
4                              Dantcheff, Mr. Ristiu    male  25.00      0
5  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  female  19.00      0
6                                  Jonsson, Mr. Carl    male  32.00      0
7                               Elias, Mr. Joseph Jr    male  17.00      1
8              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
9                             Baclini, Miss. Eugenie  female   0.75      2

   Parch    Ticket      Fare            Cabin Embarked  idx_root  \
0      1      2691   14.4542              NaN        C       362
1      2    220845   65.0000              NaN        S       615
2      0    349241    7.8958              NaN        C       130
3      1    364849   15.5000              NaN        Q       657
4      0    349203    7.8958              NaN        S       794
5      0    250655   26.0000              NaN        S       427
6      0    350417    7.8542              NaN        S       569
7      1      2690    7.2292              NaN        C       532
8      2  PC 17608  262.3750  B57 B59 B63 B66        C       742
9      1      2666   19.2583              NaN        C       644

   PassengerType
0  Regular Adult
1  Regular Adult
2  Regular Adult
3  Regular Adult
4  Regular Adult
5  Regular Adult
6  Regular Adult
7           Teen
8       VIP Lady
9          Child

In [29]:
# Group v√† ƒë·∫øm xem m·ªói gi·ªõi t√≠nh bao nhi√™u ng∆∞·ªùi
print("Group v√† ƒë·∫øm xem m·ªói gi·ªõi t√≠nh bao nhi√™u ng∆∞·ªùi")
print(test_set.groupby('Sex').size())

print("\n" + "="*70 + "\n")

# Group tu·ªïi ƒë·ªÉ xem c√≥ bao nhi√™u ng∆∞·ªùi trong m·ªói nh√≥m tu·ªïi
print("Group tu·ªïi ƒë·ªÉ xem c√≥ bao nhi√™u ng∆∞·ªùi trong m·ªói nh√≥m tu·ªïi")

def age_group(age):
    if pd.isna(age):
        return "Unknown"
    elif age < 12:
        return "Child"
    elif age < 18:
        return "Teen"
    elif age < 35:
        return "Young Adult"
    elif age < 60:
        return "Adult"
    else:
        return "Senior"

print(test_set.groupby(test_set['Age'].apply(age_group)).size())

Group v√† ƒë·∫øm xem m·ªói gi·ªõi t√≠nh bao nhi√™u ng∆∞·ªùi
Sex
female    6
male      4
dtype: int64

======================================================================

Group tu·ªïi ƒë·ªÉ xem c√≥ bao nhi√™u ng∆∞·ªùi trong m·ªói nh√≥m tu·ªïi
Age
Adult          1
Child          1
Teen           1
Young Adult    7
dtype: int64

In [32]:
# Group nhi·ªÅu nh√≥m - ƒê·∫øm s·ªë ng∆∞·ªùi theo gi·ªõi t√≠nh v√† h·∫°ng v√©
print("Group nhi·ªÅu nh√≥m - ƒê·∫øm s·ªë ng∆∞·ªùi:")
print(test_set.groupby(['Sex', 'Pclass']).size())

print("\n" + "="*70 + "\n")

# T√≠nh tu·ªïi trung b√¨nh theo t·ª´ng nh√≥m (Sex, Pclass)
print("Tu·ªïi trung b√¨nh theo gi·ªõi t√≠nh v√† h·∫°ng v√©:")
print(test_set.groupby(['Sex', 'Pclass'])['Age'].mean())

print("\n" + "="*70 + "\n")

# C√ÅCH 1: D√πng apply v·ªõi groupby ƒë·ªÉ ph√¢n lo·∫°i (SAI - kh√¥ng n√™n d√πng)
# print(test_set.groupby(['Sex', 'Pclass']).apply(classify_passenger))  # ‚Üê SAI

# C√ÅCH 2: D√πng apply TR·ª∞C TI·∫æP tr√™n DataFrame (ƒê√öNG)
def classify_passenger(row):
    sex = row['Sex']
    pclass = row['Pclass']
    if sex == 'female':
        if pclass == 1:
            return "Ph√∫ b√†"
        elif pclass == 2:
            return "Qu√Ω c√¥"
        else:
            return "Th∆∞·ªùng d√¢n (n·ªØ)"
    else:
        if pclass == 1:
            return "Qu√Ω √¥ng"
        elif pclass == 2:
            return "C√¥ng t·ª≠"
        else:
            return "Th∆∞·ªùng d√¢n (nam)"

# √Åp d·ª•ng h√†m cho T·ª™NG H√ÄNG (axis=1)
test_set['Category'] = test_set.apply(classify_passenger, axis=1)

print("Ph√¢n lo·∫°i h√†nh kh√°ch theo gi·ªõi t√≠nh v√† h·∫°ng v√©:")
print(test_set[['Name', 'Sex', 'Pclass', 'Category']])

print("\n" + "="*70 + "\n")

# Sau khi c√≥ c·ªôt Category, c√≥ th·ªÉ groupby ƒë·ªÉ ƒë·∫øm
print("ƒê·∫øm s·ªë ng∆∞·ªùi m·ªói lo·∫°i:")
print(test_set.groupby('Category').size())

Group nhi·ªÅu nh√≥m - ƒê·∫øm s·ªë ng∆∞·ªùi:
Sex     Pclass
female  1         1
        2         2
        3         3
male    3         4
dtype: int64

======================================================================

Tu·ªïi trung b√¨nh theo gi·ªõi t√≠nh v√† h·∫°ng v√©:
Sex     Pclass
female  1         21.000000
        2         21.500000
        3         25.916667
male    3         26.750000
Name: Age, dtype: float64

======================================================================

Ph√¢n lo·∫°i h√†nh kh√°ch theo gi·ªõi t√≠nh v√† h·∫°ng v√©:
                                                Name     Sex  Pclass  \
0                    Barbara, Mrs. (Catherine David)  female       3
1                                Herman, Miss. Alice  female       2
2                               Drazenoic, Mr. Jozef    male       3
3                      Bourke, Mrs. John (Catherine)  female       3
4                              Dantcheff, Mr. Ristiu    male       3
5  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  female       2
6                                  Jonsson, Mr. Carl    male       3
7                               Elias, Mr. Joseph Jr    male       3
8              Ryerson, Miss. Susan Parker "Suzette"  female       1
9                             Baclini, Miss. Eugenie  female       3

           Category
0   Th∆∞·ªùng d√¢n (n·ªØ)
1            Qu√Ω c√¥
2  Th∆∞·ªùng d√¢n (nam)
3   Th∆∞·ªùng d√¢n (n·ªØ)
4  Th∆∞·ªùng d√¢n (nam)
5            Qu√Ω c√¥
6  Th∆∞·ªùng d√¢n (nam)
7  Th∆∞·ªùng d√¢n (nam)
8            Ph√∫ b√†
9   Th∆∞·ªùng d√¢n (n·ªØ)

======================================================================

ƒê·∫øm s·ªë ng∆∞·ªùi m·ªói lo·∫°i:
Category
Ph√∫ b√†              1
Qu√Ω c√¥              2
Th∆∞·ªùng d√¢n (nam)    4
Th∆∞·ªùng d√¢n (n·ªØ)     3
dtype: int64

In [34]:
# In ra nh·ªØng ng∆∞·ªùi c√≤n s·ªëng tr√™n 30 tu·ªïi v√† l√† nam
print("In ra nh·ªØng ng∆∞·ªùi c√≤n s·ªëng tr√™n 30 tu·ªïi v√† l√† nam")
survived_men_over_30 = df[(df['Survived'] == 1) & (df['Sex'] == 'male') & (df['Age'] > 30)]
print(survived_men_over_30)

In ra nh·ªØng ng∆∞·ªùi c√≤n s·ªëng tr√™n 30 tu·ªïi v√† l√† nam
     PassengerId  Survived  Pclass  \
21            22         1       2
74            75         1       3
187          188         1       1
209          210         1       1
224          225         1       1
248          249         1       1
288          289         1       2
338          339         1       3
390          391         1       1
400          401         1       3
414          415         1       3
429          430         1       3
447          448         1       1
449          450         1       1
453          454         1       1
460          461         1       1
512          513         1       1
543          544         1       2
569          570         1       3
570          571         1       2
572          573         1       1
579          580         1       3
587          588         1       1
599          600         1       1
604          605         1       1
621          622         1       1
630          631         1       1
632          633         1       1
645          646         1       1
647          648         1       1
660          661         1       1
673          674         1       2
679          680         1       1
690          691         1       1
701          702         1       1
707          708         1       1
712          713         1       1
737          738         1       1
744          745         1       3
838          839         1       3
857          858         1       1

                                              Name   Sex   Age  SibSp  Parch  \
21                           Beesley, Mr. Lawrence  male  34.0      0      0
74                                   Bing, Mr. Lee  male  32.0      0      0
187  Romaine, Mr. Charles Hallace ("Mr C Rolmane")  male  45.0      0      0
209                               Blank, Mr. Henry  male  40.0      0      0
224                   Hoyt, Mr. Frederick Maxfield  male  38.0      1      0
248                  Beckwith, Mr. Richard Leonard  male  37.0      1      1
288                           Hosono, Mr. Masabumi  male  42.0      0      0
338                          Dahl, Mr. Karl Edwart  male  45.0      0      0
390                     Carter, Mr. William Ernest  male  36.0      1      2
400                             Niskanen, Mr. Juha  male  39.0      0      0
414                      Sundman, Mr. Johan Julian  male  44.0      0      0
429             Pickard, Mr. Berk (Berk Trembisky)  male  32.0      0      0
447                    Seward, Mr. Frederic Kimber  male  34.0      0      0
449                 Peuchen, Major. Arthur Godfrey  male  52.0      0      0
453                       Goldenberg, Mr. Samuel L  male  49.0      1      0
460                            Anderson, Mr. Harry  male  48.0      0      0
512                      McGough, Mr. James Robert  male  36.0      0      0
543                              Beane, Mr. Edward  male  32.0      1      0
569                              Jonsson, Mr. Carl  male  32.0      0      0
570                             Harris, Mr. George  male  62.0      0      0
572               Flynn, Mr. John Irwin ("Irving")  male  36.0      0      0
579                            Jussila, Mr. Eiriik  male  32.0      0      0
587               Frolicher-Stehli, Mr. Maxmillian  male  60.0      1      1
599   Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")  male  49.0      1      0
604                Homer, Mr. Harry ("Mr E Haven")  male  35.0      0      0
621                   Kimball, Mr. Edwin Nelson Jr  male  42.0      1      0
630           Barkworth, Mr. Algernon Henry Wilson  male  80.0      0      0
632                      Stahelin-Maeglin, Dr. Max  male  32.0      0      0
645                      Harper, Mr. Henry Sleeper  male  48.0      1      0
647            Simonius-Blumer, Col. Oberst Alfons  male  56.0      0      0
660                  Frauenthal, Dr. Henry William  male  50.0      2      0
673                          Wilhelms, Mr. Charles  male  31.0      0      0
679             Cardeza, Mr. Thomas Drake Martinez  male  36.0      0      1
690                        Dick, Mr. Albert Adrian  male  31.0      1      0
701               Silverthorne, Mr. Spencer Victor  male  35.0      0      0
707              Calderhead, Mr. Edward Pennington  male  42.0      0      0
712                       Taylor, Mr. Elmer Zebley  male  48.0      1      0
737                         Lesurer, Mr. Gustave J  male  35.0      0      0
744                             Stranden, Mr. Juho  male  31.0      0      0
838                                Chip, Mr. Chang  male  32.0      0      0
857                         Daly, Mr. Peter Denis   male  51.0      0      0

                Ticket      Fare        Cabin Embarked
21              248698   13.0000          D56        S
74                1601   56.4958          NaN        S
187             111428   26.5500          NaN        S
209             112277   31.0000          A31        C
224              19943   90.0000          C93        S
248              11751   52.5542          D35        S
288             237798   13.0000          NaN        S
338               7598    8.0500          NaN        S
390             113760  120.0000      B96 B98        S
400  STON/O 2. 3101289    7.9250          NaN        S
414  STON/O 2. 3101269    7.9250          NaN        S
429  SOTON/O.Q. 392078    8.0500          E10        S
447             113794   26.5500          NaN        S
449             113786   30.5000         C104        S
453              17453   89.1042          C92        C
460              19952   26.5500          E12        S
512           PC 17473   26.2875          E25        S
543               2908   26.0000          NaN        S
569             350417    7.8542          NaN        S
570        S.W./PP 752   10.5000          NaN        S
572           PC 17474   26.3875          E25        S
579  STON/O 2. 3101286    7.9250          NaN        S
587              13567   79.2000          B41        C
599           PC 17485   56.9292          A20        C
604             111426   26.5500          NaN        C
621              11753   52.5542          D19        S
630              27042   30.0000          A23        S
632              13214   30.5000          B50        C
645           PC 17572   76.7292          D33        C
647              13213   35.5000          A26        C
660           PC 17611  133.6500          NaN        S
673             244270   13.0000          NaN        S
679           PC 17755  512.3292  B51 B53 B55        C
690              17474   57.0000          B20        S
701           PC 17475   26.2875          E24        S
707           PC 17476   26.2875          E24        S
712              19996   52.0000         C126        S
737           PC 17755  512.3292         B101        C
744  STON/O 2. 3101288    7.9250          NaN        S
838               1601   56.4958          NaN        S
857             113055   26.5500          E17        S

In [37]:
# SQL style:
import pandasql as psql


print("SQL ")
query = """
SELECT * FROM df
WHERE Survived = 1 AND Sex = 'male' AND Age > 30
"""
result = psql.sqldf(query, locals())
print(result.head())

SQL
   PassengerId  Survived  Pclass  \
0           22         1       2
1           75         1       3
2          188         1       1
3          210         1       1
4          225         1       1

                                            Name   Sex   Age  SibSp  Parch  \
0                          Beesley, Mr. Lawrence  male  34.0      0      0
1                                  Bing, Mr. Lee  male  32.0      0      0
2  Romaine, Mr. Charles Hallace ("Mr C Rolmane")  male  45.0      0      0
3                               Blank, Mr. Henry  male  40.0      0      0
4                   Hoyt, Mr. Frederick Maxfield  male  38.0      1      0

   Ticket     Fare Cabin Embarked
0  248698  13.0000   D56        S
1    1601  56.4958  None        S
2  111428  26.5500  None        S
3  112277  31.0000   A31        C
4   19943  90.0000   C93        S

## üìñ S·ª∞ KH√ÅC BI·ªÜT GI·ªÆA `groupby()` V√Ä `apply()`

### üéØ T√ìM T·∫ÆT NHANH

| Ti√™u ch√≠ | `groupby()` | `apply()` |
|----------|------------|-----------|
| **M·ª•c ƒë√≠ch** | NH√ìM v√† T√çNH TO√ÅN theo nh√≥m | √ÅP D·ª§NG h√†m cho t·ª´ng h√†ng/c·ªôt |
| **K·∫øt qu·∫£** | T·ªïng h·ª£p theo nh√≥m (√≠t h√†ng h∆°n) | Gi·ªØ nguy√™n s·ªë h√†ng (ho·∫∑c bi·∫øn ƒë·ªïi) |
| **T·ªëc ƒë·ªô** | ‚ö° NHANH (t·ªëi ∆∞u h√≥a) | üê¢ CH·∫¨M (ch·∫°y t·ª´ng h√†ng) |
| **D√πng khi** | C·∫ßn th·ªëng k√™, t·ªïng h·ª£p, nh√≥m | Logic ph·ª©c t·∫°p, nhi·ªÅu ƒëi·ªÅu ki·ªán |

---

### 1Ô∏è‚É£ GROUPBY - NH√ìM V√Ä T·ªîNG H·ª¢P

**‚úÖ D√πng khi n√†o:**
- Mu·ªën **T·ªîNG H·ª¢P** d·ªØ li·ªáu theo nh√≥m (ƒë·∫øm, trung b√¨nh, t·ªïng, min, max...)
- K·∫øt qu·∫£ c√≥ **√çT H√ÄNG H∆†N** (m·ªói nh√≥m 1 h√†ng)
- C√°c ph√©p to√°n C√ì S·∫¥N: `sum()`, `mean()`, `count()`, `min()`, `max()`...

**üìå V√ç D·ª§ 1 C·ªòT:**
```python
# T√≠nh tu·ªïi trung b√¨nh theo h·∫°ng v√©
df.groupby('Pclass')['Age'].mean()

# K·∫øt qu·∫£:
# Pclass
# 1    38.2
# 2    29.9
# 3    25.1
# ‚Üí 3 h√†ng (3 nh√≥m)
```

**üìå V√ç D·ª§ NHI·ªÄU C·ªòT:**
```python
# T√≠nh tu·ªïi trung b√¨nh theo (gi·ªõi t√≠nh, h·∫°ng v√©)
df.groupby(['Sex', 'Pclass'])['Age'].mean()

# K·∫øt qu·∫£:
# Sex     Pclass
# female  1         34.6
#         2         28.7
#         3         21.8
# male    1         41.3
#         2         30.7
#         3         26.5
# ‚Üí 6 h√†ng (6 nh√≥m)
```

**‚ö° ∆ØU ƒêI·ªÇM:**
- NHANH ‚ö° (Pandas t·ªëi ∆∞u h√≥a s·∫µn)
- Code NG·∫ÆN G·ªåN
- D·ªÖ ƒë·ªçc, d·ªÖ hi·ªÉu

**‚ùå H·∫†N CH·∫æ:**
- Ch·ªâ d√πng cho c√°c ph√©p to√°n ƒê∆†N GI·∫¢N
- Kh√¥ng linh ho·∫°t v·ªõi logic ph·ª©c t·∫°p

---

### 2Ô∏è‚É£ APPLY - √ÅP D·ª§NG H√ÄM CHO T·ª™NG H√ÄNG

**‚úÖ D√πng khi n√†o:**
- Logic **PH·ª®C T·∫†P** v·ªõi nhi·ªÅu `if-else`
- C·∫ßn x·ª≠ l√Ω **NHI·ªÄU C·ªòT** c√πng l√∫c trong 1 h√†m
- K·∫øt qu·∫£ **GI·ªÆ NGUY√äN** s·ªë h√†ng (ho·∫∑c t·∫°o c·ªôt m·ªõi)

**üìå V√ç D·ª§ 1 C·ªòT:**
```python
# Ph√¢n lo·∫°i tu·ªïi (1 c·ªôt)
def age_category(age):
    if pd.isna(age):
        return "Unknown"
    elif age < 18:
        return "Child"
    elif age < 60:
        return "Adult"
    else:
        return "Senior"

df['AgeCategory'] = df['Age'].apply(age_category)
# ‚Üí 891 h√†ng (gi·ªØ nguy√™n)
```

**üìå V√ç D·ª§ NHI·ªÄU C·ªòT (axis=1):**
```python
# Ph√¢n lo·∫°i d·ª±a tr√™n NHI·ªÄU C·ªòT
def classify_passenger(row):
    sex = row['Sex']
    pclass = row['Pclass']
    age = row['Age']
    
    # Logic ph·ª©c t·∫°p v·ªõi nhi·ªÅu ƒëi·ªÅu ki·ªán
    if sex == 'female' and pclass == 1:
        return "Ph√∫ b√†"
    elif sex == 'male' and age < 12:
        return "C·∫≠u b√©"
    else:
        return "Kh√°c"

df['Category'] = df.apply(classify_passenger, axis=1)
# ‚Üí 891 h√†ng (gi·ªØ nguy√™n)
```

**‚ö° ∆ØU ƒêI·ªÇM:**
- LINH HO·∫†T üî• (logic ph·ª©c t·∫°p t√πy √Ω)
- X·ª≠ l√Ω ƒë∆∞·ª£c NHI·ªÄU C·ªòT c√πng l√∫c
- T·∫°o c·ªôt m·ªõi d·ªÖ d√†ng

**‚ùå H·∫†N CH·∫æ:**
- CH·∫¨M üê¢ (ch·∫°y v√≤ng l·∫∑p t·ª´ng h√†ng)
- Code D√ÄI h∆°n
- Kh√≥ debug h∆°n

---

### 3Ô∏è‚É£ K·∫æT H·ª¢P GROUPBY + APPLY

**üìå TR∆Ø·ªúNG H·ª¢P ƒê·∫∂C BI·ªÜT:**
```python
# Mu·ªën √°p d·ª•ng h√†m ph·ª©c t·∫°p cho T·ª™NG NH√ìM
def top_2_oldest(group):
    return group.nlargest(2, 'Age')

# L·∫•y 2 ng∆∞·ªùi gi√† nh·∫•t M·ªñI H·∫†NG V√â
df.groupby('Pclass').apply(top_2_oldest)
```

**‚ö†Ô∏è L∆ØU √ù:** ƒê√¢y l√† tr∆∞·ªùng h·ª£p N√ÇNG CAO, d√πng khi:
- C·∫ßn x·ª≠ l√Ω TO√ÄN B·ªò NH√ìM (kh√¥ng ph·∫£i t·ª´ng h√†ng)
- Logic ph·ª©c t·∫°p kh√¥ng c√≥ h√†m s·∫µn

---

### 4Ô∏è‚É£ QUY T·∫ÆC CH·ªåN L·ª∞A

```python
# ‚úÖ D√ôNG GROUPBY khi:
df.groupby('Pclass')['Age'].mean()        # Th·ªëng k√™ ƒë∆°n gi·∫£n
df.groupby('Sex').size()                  # ƒê·∫øm s·ªë l∆∞·ª£ng
df.groupby('Pclass')['Fare'].sum()        # T·ªïng h·ª£p

# ‚úÖ D√ôNG APPLY khi:
df['NewCol'] = df.apply(complex_func, axis=1)   # Logic ph·ª©c t·∫°p nhi·ªÅu c·ªôt
df['Age'] = df['Age'].apply(lambda x: x*2)      # Bi·∫øn ƒë·ªïi 1 c·ªôt

# ‚ö†Ô∏è TR√ÅNH D√ôNG:
df.groupby('Pclass').apply(lambda x: x['Age'].mean())  # ‚Üê SAI! D√πng .mean() tr·ª±c ti·∫øp
df.apply(lambda row: row['Age'], axis=1)               # ‚Üê SAI! Ch·ªâ c·∫ßn df['Age']
```

---

### 5Ô∏è‚É£ K·∫æT LU·∫¨N

| T√¨nh hu·ªëng | D√πng g√¨ | V√≠ d·ª• |
|-----------|---------|-------|
| T√≠nh trung b√¨nh theo nh√≥m | **groupby()** ‚ö° | `df.groupby('Sex')['Age'].mean()` |
| ƒê·∫øm s·ªë l∆∞·ª£ng theo nh√≥m | **groupby()** ‚ö° | `df.groupby('Pclass').size()` |
| Ph√¢n lo·∫°i ph·ª©c t·∫°p (1 c·ªôt) | **apply()** üê¢ | `df['Age'].apply(age_category)` |
| Ph√¢n lo·∫°i ph·ª©c t·∫°p (nhi·ªÅu c·ªôt) | **apply(axis=1)** üê¢ | `df.apply(classify, axis=1)` |
| Top N m·ªói nh√≥m | **groupby + apply** üî• | `df.groupby('Pclass').apply(...)` |

**üí° QUY T·∫ÆC V√ÄNG:**
1. **∆Øu ti√™n `groupby()`** khi c√≥ th·ªÉ (NHANH ‚ö°)
2. **Ch·ªâ d√πng `apply()`** khi TH·ª∞C S·ª∞ c·∫ßn logic ph·ª©c t·∫°p (CH·∫¨M üê¢)
3. **TR√ÅNH** d√πng `apply()` cho ph√©p to√°n ƒë∆°n gi·∫£n c√≥ s·∫µn!