# üìä B√ÄI T·∫¨P PANDAS C∆† B·∫¢N - TITANIC DATASET

Notebook n√†y h∆∞·ªõng d·∫´n c√°c thao t√°c c∆° b·∫£n v·ªõi pandas:
- ƒê·ªçc v√† kh√°m ph√° d·ªØ li·ªáu
- Xem tr∆∞·ªõc d·ªØ li·ªáu (head, tail, sample)
- L·∫•y th√¥ng tin DataFrame
- L·∫•y m·∫´u ng·∫´u nhi√™n v√† reset index
- **S·ª≠ d·ª•ng apply() v√† c√°c h√†m t√πy ch·ªânh**

In [48]:
import pandas as pd
import numpy as np

# ƒê·ªçc d·ªØ li·ªáu Titanic t·ª´ file CSV
df = pd.read_csv('titanic.csv')

print("üìä To√†n b·ªô d·ªØ li·ªáu Titanic:")
print(df)

üìä To√†n b·ªô d·ªØ li·ªáu Titanic:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## 1. Import th∆∞ vi·ªán v√† ƒë·ªçc d·ªØ li·ªáu

**Import c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt:**
- `pandas`: Thao t√°c v·ªõi DataFrame
- `numpy`: T√≠nh to√°n s·ªë h·ªçc

**ƒê·ªçc CSV:**
- `pd.read_csv()`: ƒê·ªçc file CSV th√†nh DataFrame
- `df.head()`: Xem tr∆∞·ªõc v√†i d√≤ng ƒë·∫ßu c·ªßa DataFrame (default l√† 5)
- `df.tail()`: Xem v√†i d√≤ng cu·ªëi c·ªßa DataFrame (default l√† 5)

In [49]:
# Xem 5 d√≤ng ƒë·∫ßu ti√™n
print("üîù 5 d√≤ng ƒë·∫ßu ti√™n (head):")
print(df.head())

print("\n" + "="*70 + "\n")

# Xem 5 d√≤ng cu·ªëi c√πng
print("üîö 5 d√≤ng cu·ªëi c√πng (tail):")
print(df.tail())

# C√≥ th·ªÉ truy·ªÅn s·ªë kh√°c: df.head(10), df.tail(3)

üîù 5 d√≤ng ƒë·∫ßu ti√™n (head):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

======================================================================

üîö 5 d√≤ng cu·ªëi c√πng (tail):
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

## 2. L·∫•y m·∫´u ng·∫´u nhi√™n v·ªõi sample()

**df.sample(n)**: L·∫•y **n d√≤ng ng·∫´u nhi√™n** (m·∫∑c ƒë·ªãnh n=1)
- D√πng ƒë·ªÉ ki·ªÉm tra nhanh d·ªØ li·ªáu
- T·∫°o t·∫≠p test/train ng·∫´u nhi√™n
- M·ªói l·∫ßn ch·∫°y s·∫Ω cho k·∫øt qu·∫£ kh√°c nhau

**Tham s·ªë:**
- `n`: S·ªë d√≤ng mu·ªën l·∫•y
- `frac`: T·ª∑ l·ªá ph·∫ßn trƒÉm (0.1 = 10%)

In [50]:
# L·∫•y 1 d√≤ng ng·∫´u nhi√™n (m·∫∑c ƒë·ªãnh)
print("üé≤ 1 d√≤ng ng·∫´u nhi√™n:")
print(df.sample())

print("\n" + "="*70 + "\n")

# L·∫•y 5 d√≤ng ng·∫´u nhi√™n
print("üé≤ 5 d√≤ng ng·∫´u nhi√™n:")
print(df.sample(5))

print("\n" + "="*70 + "\n")

# L·∫•y 10% d·ªØ li·ªáu ng·∫´u nhi√™n
print("üé≤ 10% d·ªØ li·ªáu ng·∫´u nhi√™n:")
print(df.sample(frac=0.1))

üé≤ 1 d√≤ng ng·∫´u nhi√™n:
     PassengerId  Survived  Pclass                        Name   Sex  Age  \
159          160         0       3  Sage, Master. Thomas Henry  male  NaN

     SibSp  Parch    Ticket   Fare Cabin Embarked
159      8      2  CA. 2343  69.55   NaN        S

======================================================================

üé≤ 5 d√≤ng ng·∫´u nhi√™n:
     PassengerId  Survived  Pclass  \
772          773         0       2
175          176         0       3
779          780         1       1
452          453         0       1
129          130         0       3

                                                  Name     Sex   Age  SibSp  \
772                                  Mack, Mrs. (Mary)  female  57.0      0
175                             Klasen, Mr. Klas Albin    male  18.0      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.0      0
452                    Foreman, Mr. Benjamin Laventall    male  30.0      0
129                                 Ekstrom, Mr. Johan    male  45.0      0

     Parch       Ticket      Fare Cabin Embarked
772      0  S.O./P.P. 3   10.5000   E77        S
175      1       350404    7.8542   NaN        S
779      1        24160  211.3375    B3        S
452      0       113051   27.7500  C111        C
129      0       347061    6.9750   NaN        S

======================================================================

üé≤ 10% d·ªØ li·ªáu ng·∫´u nhi√™n:
     PassengerId  Survived  Pclass  \
608          609         1       2
38            39         0       3
323          324         1       2
767          768         0       3
39            40         1       3
..           ...       ...     ...
781          782         1       1
633          634         0       1
659          660         0       1
793          794         0       1
50            51         0       3

                                                  Name     Sex   Age  SibSp  \
608  Laroche, Mrs. Joseph (Juliette Marie Louise La...  female  22.0      1
38                  Vander Planke, Miss. Augusta Maria  female  18.0      2
323  Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...  female  22.0      1
767                                 Mangan, Miss. Mary  female  30.5      0
39                         Nicola-Yarred, Miss. Jamila  female  14.0      1
..                                                 ...     ...   ...    ...
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.0      1
633                      Parr, Mr. William Henry Marsh    male   NaN      0
659                         Newell, Mr. Arthur Webster    male  58.0      0
793                           Hoyt, Mr. William Fisher    male   NaN      0
50                          Panula, Master. Juha Niilo    male   7.0      4

     Parch         Ticket      Fare Cabin Embarked
608      2  SC/Paris 2123   41.5792   NaN        C
38       0         345764   18.0000   NaN        S
323      1         248738   29.0000   NaN        S
767      0         364850    7.7500   NaN        Q
39       0           2651   11.2417   NaN        C
..     ...            ...       ...   ...      ...
781      0          17474   57.0000   B20        S
633      0         112052    0.0000   NaN        S
659      2          35273  113.2750   D48        C
793      0       PC 17600   30.6958   NaN        C
50       1        3101295   39.6875   NaN        S

[89 rows x 12 columns]

## 3. L·∫•y k√≠ch th∆∞·ªõc DataFrame v·ªõi shape

**df.shape**: Tr·∫£ v·ªÅ tuple **(s·ªë h√†ng, s·ªë c·ªôt)**
- `df.shape[0]`: S·ªë h√†ng (rows)
- `df.shape[1]`: S·ªë c·ªôt (columns)

In [52]:
# L·∫•y k√≠ch th∆∞·ªõc DataFrame
print(f"K√≠ch th∆∞·ªõc data frame: {df.shape[0]} h√†ng, {df.shape[1]} c·ªôt")

K√≠ch th∆∞·ªõc data frame: 891 h√†ng, 12 c·ªôt

## 4. Th√¥ng tin chi ti·∫øt v·ªõi info()

**df.info()**: Hi·ªÉn th·ªã th√¥ng tin t·ªïng quan v·ªÅ DataFrame:
- S·ªë h√†ng v√† s·ªë c·ªôt
- T√™n c√°c c·ªôt
- Ki·ªÉu d·ªØ li·ªáu c·ªßa t·ª´ng c·ªôt (dtype)
- S·ªë gi√° tr·ªã non-null (kh√¥ng ph·∫£i NaN)
- Dung l∆∞·ª£ng b·ªô nh·ªõ

**D√πng ƒë·ªÉ:**
- Ki·ªÉm tra missing values (NaN)
- X√°c ƒë·ªãnh ki·ªÉu d·ªØ li·ªáu c·∫ßn chuy·ªÉn ƒë·ªïi
- ∆Ø·ªõc l∆∞·ª£ng dung l∆∞·ª£ng b·ªô nh·ªõ

In [53]:
# Xem th√¥ng tin chi ti·∫øt v·ªÅ DataFrame
df.info()

print("\nüí° Gi·∫£i th√≠ch:")
print("- Non-Null Count: S·ªë gi√° tr·ªã kh√¥ng ph·∫£i NaN")
print("- Dtype: Ki·ªÉu d·ªØ li·ªáu (int64, float64, object)")
print("- object: Th∆∞·ªùng l√† chu·ªói (string)")
print("- N·∫øu Non-Null < t·ªïng h√†ng ‚Üí C√≥ missing values!")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

üí° Gi·∫£i th√≠ch:
- Non-Null Count: S·ªë gi√° tr·ªã kh√¥ng ph·∫£i NaN
- Dtype: Ki·ªÉu d·ªØ li·ªáu (int64, float64, object)
- object: Th∆∞·ªùng l√† chu·ªói (string)
- N·∫øu Non-Null < t·ªïng h√†ng ‚Üí C√≥ missing values!

## 5. L·∫•y t·∫≠p m·∫´u ng·∫´u nhi√™n

**M·ª•c ƒë√≠ch:** T·∫°o t·∫≠p test nh·ªè ƒë·ªÉ th·ª≠ nghi·ªám
- L·∫•y 10 d√≤ng ng·∫´u nhi√™n
- Gi·ªØ nguy√™n index g·ªëc ƒë·ªÉ truy v·∫øt

In [54]:
# L·∫•y 10 d√≤ng ng·∫´u nhi√™n l√†m t·∫≠p test
print("L·∫•y 10 d√≤ng ng·∫´u nhi√™n l√†m t·∫≠p test:")
test_set = df.sample(10) 
print(test_set)

print(f"\n‚Üí Index g·ªëc: {test_set.index.tolist()}")

L·∫•y 10 d√≤ng ng·∫´u nhi√™n l√†m t·∫≠p test:
     PassengerId  Survived  Pclass                                     Name  \
624          625         0       3              Bowen, Mr. David John "Dai"
179          180         0       3                      Leonard, Mr. Lionel
490          491         0       3     Hagland, Mr. Konrad Mathias Reiersen
472          473         1       2  West, Mrs. Edwy Arthur (Ada Mary Worth)
224          225         1       1             Hoyt, Mr. Frederick Maxfield
438          439         0       1                        Fortune, Mr. Mark
184          185         1       3      Kink-Heilmann, Miss. Luise Gretchen
640          641         0       3                   Jensen, Mr. Hans Peder
458          459         1       2                      Toomey, Miss. Ellen
878          879         0       3                       Laleff, Mr. Kristo

        Sex   Age  SibSp  Parch        Ticket      Fare        Cabin Embarked
624    male  21.0      0      0         54636   16.1000          NaN        S
179    male  36.0      0      0          LINE    0.0000          NaN        S
490    male   NaN      1      0         65304   19.9667          NaN        S
472  female  33.0      1      2    C.A. 34651   27.7500          NaN        S
224    male  38.0      1      0         19943   90.0000          C93        S
438    male  64.0      1      4         19950  263.0000  C23 C25 C27        S
184  female   4.0      0      2        315153   22.0250          NaN        S
640    male  20.0      0      0        350050    7.8542          NaN        S
458  female  50.0      0      0  F.C.C. 13531   10.5000          NaN        S
878    male   NaN      0      0        349217    7.8958          NaN        S

‚Üí Index g·ªëc: [624, 179, 490, 472, 224, 438, 184, 640, 458, 878]

## 6. L∆∞u index g·ªëc v√† reset index

**V·∫•n ƒë·ªÅ:** Khi l·∫•y sample, index kh√¥ng li√™n t·ª•c (VD: 5, 23, 105, ...)

**Gi·∫£i ph√°p:**
1. **L∆∞u index g·ªëc v√†o c·ªôt m·ªõi**: `df.index` tr·∫£ v·ªÅ index hi·ªán t·∫°i
2. **Reset index**: `reset_index(drop=True)` t·∫°o index m·ªõi 0, 1, 2, ...

**L∆∞u √Ω v·ªÅ apply():**
- C√¢u l·ªánh `test_set["idx_root"] = test_set.index` **KH√îNG** d√πng apply()
- ƒê√¢y l√† g√°n tr·ª±c ti·∫øp (vectorized) - NHANH h∆°n apply()
- `test_set.index` tr·∫£ v·ªÅ Series c·ªßa index
- G√°n tr·ª±c ti·∫øp v√†o c·ªôt m·ªõi ‚Üí Kh√¥ng c·∫ßn v√≤ng l·∫∑p!

In [55]:
test_set["idx_root"] = test_set.index

# drop=True: B·ªè c·ªôt index c≈©, kh√¥ng gi·ªØ l·∫°i
test_set = test_set.reset_index(drop=True)

print("\nSau khi reset index:")
print(test_set[["Name", "idx_root"]])

Sau khi reset index:
                                      Name  idx_root
0              Bowen, Mr. David John "Dai"       624
1                      Leonard, Mr. Lionel       179
2     Hagland, Mr. Konrad Mathias Reiersen       490
3  West, Mrs. Edwy Arthur (Ada Mary Worth)       472
4             Hoyt, Mr. Frederick Maxfield       224
5                        Fortune, Mr. Mark       438
6      Kink-Heilmann, Miss. Luise Gretchen       184
7                   Jensen, Mr. Hans Peder       640
8                      Toomey, Miss. Ellen       458
9                       Laleff, Mr. Kristo       878

## 7. V√≠ d·ª• th·ª±c s·ª± d√πng apply() - Ph√¢n lo·∫°i h√†nh kh√°ch

**B√¢y gi·ªù m·ªõi l√† v√≠ d·ª• TH·ª∞C S·ª∞ d√πng apply()!**

M·ª•c ƒë√≠ch:
- Ph√¢n lo·∫°i d·ª±a tr√™n nhi·ªÅu ƒëi·ªÅu ki·ªán ph·ª©c t·∫°p
- C·∫ßn x·ª≠ l√Ω t·ª´ng h√†ng (row) ri√™ng bi·ªát d·ª±a tr√™n nhi·ªÅu tr∆∞·ªùng d·ªØ li·ªáu
- D√πng `apply(axis=1)` ƒë·ªÉ √°p d·ª•ng h√†m tr√™n t·ª´ng h√†ng

In [57]:
def classify_passenger(row):
    age = row['Age']
    pclass = row['Pclass']
    fare = row['Fare']
    sex = row['Sex']
    
    if pd.isna(age):
        return "Unknown"
    elif age < 12:
        return "Child"
    elif age < 18:
        if pclass == 1:
            return "Rich Teen"
        else:
            return "Teen"
    elif sex == 'female' and pclass == 1 and fare > 50:
        return "VIP Lady"
    elif pclass == 1:
        return "First Class Adult"
    elif age > 60:
        return "Senior"
    else:
        return "Regular Adult"

# √ÅP D·ª§NG h√†m cho T·ª™NG H√ÄNG v·ªõi axis=1
test_set['PassengerType'] = test_set.apply(classify_passenger, axis=1)

print("üè∑Ô∏è  Ph√¢n lo·∫°i h√†nh kh√°ch b·∫±ng apply():")
print("="*70)
print(test_set[['Name', 'Age', 'Sex', 'Pclass', 'Fare', 'PassengerType']])

üè∑Ô∏è  Ph√¢n lo·∫°i h√†nh kh√°ch b·∫±ng apply():
======================================================================
                                      Name   Age     Sex  Pclass      Fare  \
0              Bowen, Mr. David John "Dai"  21.0    male       3   16.1000
1                      Leonard, Mr. Lionel  36.0    male       3    0.0000
2     Hagland, Mr. Konrad Mathias Reiersen   NaN    male       3   19.9667
3  West, Mrs. Edwy Arthur (Ada Mary Worth)  33.0  female       2   27.7500
4             Hoyt, Mr. Frederick Maxfield  38.0    male       1   90.0000
5                        Fortune, Mr. Mark  64.0    male       1  263.0000
6      Kink-Heilmann, Miss. Luise Gretchen   4.0  female       3   22.0250
7                   Jensen, Mr. Hans Peder  20.0    male       3    7.8542
8                      Toomey, Miss. Ellen  50.0  female       2   10.5000
9                       Laleff, Mr. Kristo   NaN    male       3    7.8958

       PassengerType
0      Regular Adult
1      Regular Adult
2            Unknown
3      Regular Adult
4  First Class Adult
5  First Class Adult
6              Child
7      Regular Adult
8      Regular Adult
9            Unknown

## 8. Th·ªëng k√™ m√¥ t·∫£ v·ªõi describe()

**df.describe()**: Th·ªëng k√™ m√¥ t·∫£ c√°c c·ªôt s·ªë
- count: S·ªë gi√° tr·ªã kh√¥ng ph·∫£i NaN
- mean: Trung b√¨nh
- std: ƒê·ªô l·ªách chu·∫©n
- min, max: Gi√° tr·ªã nh·ªè nh·∫•t, l·ªõn nh·∫•t
- 25%, 50%, 75%: Ph√¢n v·ªã (quartiles)

In [58]:
# Th·ªëng k√™ m√¥ t·∫£
print("üìä Th·ªëng k√™ m√¥ t·∫£ c√°c c·ªôt s·ªë:")
print("="*70)
print(df.describe())

print("\nüí° Gi·∫£i th√≠ch:")
print("- count: S·ªë gi√° tr·ªã kh√¥ng ph·∫£i NaN (Age c√≥ 714/891 ‚Üí thi·∫øu 177 gi√° tr·ªã)")
print("- mean: Tu·ªïi trung b√¨nh ~29.7, gi√° v√© trung b√¨nh ~32.2")
print("- std: ƒê·ªô l·ªách chu·∫©n ‚Üí Fare c√≥ std=49.7 (bi·∫øn ƒë·ªông l·ªõn!)")
print("- 50%: Trung v·ªã (median) ‚Üí Tu·ªïi gi·ªØa l√† 28")
print("- 75% - 25% = IQR (Interquartile Range) ‚Üí Ph√°t hi·ªán outliers")

üìä Th·ªëng k√™ m√¥ t·∫£ c√°c c·ªôt s·ªë:
======================================================================
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

üí° Gi·∫£i th√≠ch:
- count: S·ªë gi√° tr·ªã kh√¥ng ph·∫£i NaN (Age c√≥ 714/891 ‚Üí thi·∫øu 177 gi√° tr·ªã)
- mean: Tu·ªïi trung b√¨nh ~29.7, gi√° v√© trung b√¨nh ~32.2
- std: ƒê·ªô l·ªách chu·∫©n ‚Üí Fare c√≥ std=49.7 (bi·∫øn ƒë·ªông l·ªõn!)
- 50%: Trung v·ªã (median) ‚Üí Tu·ªïi gi·ªØa l√† 28
- 75% - 25% = IQR (Interquartile Range) ‚Üí Ph√°t hi·ªán outliers

## 9. ƒê·∫øm gi√° tr·ªã unique v√† value_counts()

**ƒê·∫øm gi√° tr·ªã unique:**
- `df['column'].nunique()`: S·ªë gi√° tr·ªã unique
- `df['column'].unique()`: M·∫£ng c√°c gi√° tr·ªã unique (c√≥ th·ªÉ hi·ªÉu set gi√° tr·ªã)
- `df['column'].value_counts()`: ƒê·∫øm t·∫ßn su·∫•t xu·∫•t hi·ªán

In [61]:
# ƒê·∫øm gi√° tr·ªã unique
print(f"Sex: {df['Sex'].nunique()} gi√° tr·ªã ‚Üí {df['Sex'].unique()}")
print(f"Pclass: {df['Pclass'].nunique()} gi√° tr·ªã ‚Üí {df['Pclass'].unique()}")
print(f"Embarked: {df['Embarked'].nunique()} gi√° tr·ªã ‚Üí {df['Embarked'].unique()}")

print("="*70)

print("\n1. Ph√¢n b·ªë gi·ªõi t√≠nh:")
print(df['Sex'].value_counts())

print("\n2. Ph√¢n b·ªë h·∫°ng v√©:")
print(df['Pclass'].value_counts())

print("\n3. Ph√¢n b·ªë c·∫£ng l√™n t√†u:")
print(df['Embarked'].value_counts())

Sex: 2 gi√° tr·ªã ‚Üí ['male' 'female']
Pclass: 3 gi√° tr·ªã ‚Üí [3 1 2]
Embarked: 3 gi√° tr·ªã ‚Üí ['S' 'C' 'Q' nan]
======================================================================

1. Ph√¢n b·ªë gi·ªõi t√≠nh:
Sex
male      577
female    314
Name: count, dtype: int64

2. Ph√¢n b·ªë h·∫°ng v√©:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

3. Ph√¢n b·ªë c·∫£ng l√™n t√†u:
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

## 10. X·ª≠ l√≠ Nan

**ƒê·∫øm gi√° tr·ªã Nan trong m·ªói c·ªôt:**
- `df.isna().sum()`: Tr·∫£ v·ªÅ s·ªë l∆∞·ª£ng Nan trong m·ªói c·ªôt

**Lo·∫°i b·ªè h√†ng c√≥ Nan:**
- `df.dropna()`: Lo·∫°i b·ªè c√°c h√†ng c√≥ √≠t nh·∫•t m·ªôt gi√° tr·ªã NaN

**Thay th·∫ø Nan b·∫±ng gi√° tr·ªã kh√°c:**
- `df.fillna(value)`: Thay th·∫ø t·∫•t c·∫£ Nan b·∫±ng `value`
- N√™n xem x√©t thay b·∫±ng c√°c gi√° tr·ªã sau: 0, -1, mean, median, mode, "Unknown"

In [65]:
print(f"S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt l√†:\n {df.isna().sum()}")

S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt l√†:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [68]:
print(f"K√≠ch th∆∞·ªõc df ban ƒë·∫ßu:", df.shape)

df_clean = df.dropna()   # Lo·∫°i b·ªè c√°c h√†ng c√≥ NaN
print(f"K√≠ch th∆∞·ªõc df sau khi lo·∫°i b·ªè NaN:", df_clean.shape)

print("=" * 72)
print("D·ªØ li·ªáu sau khi lo·∫°i b·ªè NaN:\n", df_clean)

K√≠ch th∆∞·ªõc df ban ƒë·∫ßu: (891, 12)
K√≠ch th∆∞·ªõc df sau khi lo·∫°i b·ªè NaN: (183, 12)
========================================================================
D·ªØ li·ªáu sau khi lo·∫°i b·ªè NaN:
      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]

In [73]:
# L·∫•y ra 100 d·ªØ li·ªáu test t·ª´ df ƒë·ªÉ th·ª≠ thay th·∫ø 
df_test_nan = df.sample(100, random_state=42)
print("D·ªØ li·ªáu test ban ƒë·∫ßu v·ªõi NaN:\n", df_test_nan.sample(3))

print("=" * 72)
print(f"S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt l√†:\n {df_test_nan.isna().sum()}")


df_test_nan['Age'] = df_test_nan['Age'].fillna(df_clean['Age'].mean())      # ƒëi·ªÅn b·∫±ng trung b√¨nh c·ªßa d·ªØ li·ªáu s·∫°ch
df_test_nan['Age'] = df_test_nan['Age'].fillna(df_clean['Age'].median())    # ƒëi·ªÅn b·∫±ng trung v·ªã c·ªßa d·ªØ li·ªáu s·∫°ch
df_test_nan['Cabin'] = df_test_nan['Cabin'].fillna('Unknown')  # ƒëi·ªÅn b·∫±ng 'Unknown'


print(f"S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt sau khi fill l√†:\n {df_test_nan.isna().sum()}")

D·ªØ li·ªáu test ban ƒë·∫ßu v·ªõi NaN:
      PassengerId  Survived  Pclass                                  Name  \
362          363         0       3       Barbara, Mrs. (Catherine David)
357          358         0       2             Funk, Miss. Annie Clemmer
541          542         0       3  Andersson, Miss. Ingeborg Constanzia

        Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
362  female  45.0      0      1    2691  14.4542   NaN        C
357  female  38.0      0      0  237671  13.0000   NaN        S
541  female   9.0      4      2  347082  31.2750   NaN        S
========================================================================
S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt l√†:
 PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            17
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin          75
Embarked        0
dtype: int64
S·ªë l∆∞∆°ng Nan trong m·ªói c·ªôt sau khi fill l√†:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

## 11. X·ª≠ l√≠ Tr√πng l·∫∑p

**Ki·ªÉm tra tr√πng l·∫∑p**
- `df.duplicated()`: Tr·∫£ v·ªÅ Series boolean, True n·∫øu h√†ng tr√πng l·∫∑p v·ªõi h√†ng tr∆∞·ªõc ƒë√≥
- `df.duplicated().sum()`: ƒê·∫øm s·ªë l∆∞·ª£ng b·∫£n ghi tr√πng l·∫∑p

**Lo·∫°i b·ªè tr√πng l·∫∑p**
- `df.drop_duplicates(inplace = True)`: Lo·∫°i b·ªè c√°c h√†ng tr√πng l·∫∑p, gi·ªØ l·∫°i h√†ng ƒë·∫ßu ti√™n t·ª´ tr√™n xu·ªëng
L∆∞u √Ω: Tham s·ªë (inplace = True) s·∫Ω ƒë·∫£m b·∫£o r·∫±ng ph∆∞∆°ng th·ª©c kh√¥ng t·∫°o ra m·ªôt DataFrame m·ªõi, m√† s·∫Ω x√≥a c√°c d√≤ng tr√πng l·∫∑p tr·ª±c ti·∫øp tr√™n DataFrame g·ªëc.

In [75]:
# Tr√πng l·∫∑p
print(df.duplicated())
print(f"S·ªë l∆∞·ª£ng b·∫£n ghi tr√πng l·∫∑p: {df.duplicated().sum()}")

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool
S·ªë l∆∞·ª£ng b·∫£n ghi tr√πng l·∫∑p: 0

In [86]:
# L·∫•y 5 d√≤ng ƒë·∫ßu v√† gh√©p th√™m 1 d√≤ng ƒë·∫ßu
df_test_dup = pd.concat([df.head(5), df.head(1)], ignore_index=False)
print(df_test_dup['Name'])

print("\n" + "="*70 + "\n")

# D√πng iloc v√† list index
df_test_dup2 = df.iloc[[0, 1, 2, 3, 4, 0]]  # index 0 xu·∫•t hi·ªán 2 l·∫ßn
print(df_test_dup2['Name'])

print("\n" + "="*70 + "\n")

print(df_test_dup.duplicated())
print(f"S·ªë l∆∞·ª£ng b·∫£n ghi tr√πng l·∫∑p trong df_test_dup: {df_test_dup.duplicated().sum()}")

print("\n" + "="*70 + "\n")

df_test_dup = df_test_dup.drop_duplicates()
print("D·ªØ li·ªáu sau khi lo·∫°i b·ªè b·∫£n tr√πng l·∫∑p:\n", df_test_dup['Name'])

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
0                              Braund, Mr. Owen Harris
Name: Name, dtype: object

======================================================================

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
0                              Braund, Mr. Owen Harris
Name: Name, dtype: object

======================================================================

0    False
1    False
2    False
3    False
4    False
0     True
dtype: bool
S·ªë l∆∞·ª£ng b·∫£n ghi tr√πng l·∫∑p trong df_test_dup: 1

======================================================================

D·ªØ li·ªáu sau khi lo·∫°i b·ªè b·∫£n tr√πng l·∫∑p:
 0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object