In [2]:

import pandas as pd
import numpy as np

# ƒê·ªçc d·ªØ li·ªáu Titanic
df = pd.read_csv('titanic.csv')

print("üìä D·ªÆ LI·ªÜU TITANIC")
print("="*60)
print(df.head(3))
print(f"\nK√≠ch th∆∞·ªõc: {df.shape[0]} h√†ng, {df.shape[1]} c·ªôt")
print(f"\nTh√¥ng tin c√°c c·ªôt:")
print(df.info())

üìä D·ªÆ LI·ªÜU TITANIC
============================================================
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

K√≠ch th∆∞·ªõc: 891 h√†ng, 12 c·ªôt

Th√¥ng tin c√°c c·ªôt:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [3]:
# ============================================
# 1. SERIES.APPLY() - √ÅP D·ª§NG H√ÄM CHO T·ª™NG PH·∫¶N T·ª¨ TRONG 1 C·ªòT
# ============================================
# M·ª•c ƒë√≠ch: Tr√≠ch xu·∫•t TITLE (danh x∆∞ng) t·ª´ c·ªôt Name
# VD: "Braund, Mr. Owen Harris" ‚Üí "Mr"
#     "Cumings, Mrs. John Bradley..." ‚Üí "Mrs"

def extract_title(name):
    # T√°ch theo d·∫•u ph·∫©y, l·∫•y ph·∫ßn sau
    after_comma = name.split(',')[1]
    # T√°ch theo d·∫•u ch·∫•m, l·∫•y ph·∫ßn tr∆∞·ªõc (title)
    title = after_comma.split('.')[0]
    # X√≥a kho·∫£ng tr·∫Øng
    return title.strip()

# √Åp d·ª•ng h√†m cho T·ª™NG ph·∫ßn t·ª≠ trong c·ªôt Name
df['Title'] = df['Name'].apply(extract_title)

print("üìù V√ç D·ª§ 1: SERIES.APPLY() - Tr√≠ch xu·∫•t Title t·ª´ Name")
print("="*60)
print(df[['Name', 'Title']].head(10))
print(f"\nC√°c Title xu·∫•t hi·ªán: {df['Title'].value_counts().to_dict()}")

üìù V√ç D·ª§ 1: SERIES.APPLY() - Tr√≠ch xu·∫•t Title t·ª´ Name
============================================================
                                                Name   Title
0                            Braund, Mr. Owen Harris      Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...     Mrs
2                             Heikkinen, Miss. Laina    Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)     Mrs
4                           Allen, Mr. William Henry      Mr
5                                   Moran, Mr. James      Mr
6                            McCarthy, Mr. Timothy J      Mr
7                     Palsson, Master. Gosta Leonard  Master
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)     Mrs
9                Nasser, Mrs. Nicholas (Adele Achem)     Mrs

C√°c Title xu·∫•t hi·ªán: {'Mr': 517, 'Miss': 182, 'Mrs': 125, 'Master': 40, 'Dr': 7, 'Rev': 6, 'Col': 2, 'Mlle': 2, 'Major': 2, 'Ms': 1, 'Mme': 1, 'Don': 1, 'Lady': 1, 'Sir': 1, 'Capt': 1, 'the Countess': 1, 'Jonkheer': 1}

In [4]:
# ============================================
# 2. DATAFRAME.APPLY(AXIS=1) - √ÅP D·ª§NG H√ÄM CHO T·ª™NG H√ÄNG
# ============================================
# M·ª•c ƒë√≠ch: T√≠nh FamilySize = SibSp + Parch + 1
# SibSp: s·ªë anh ch·ªã em/v·ª£ ch·ªìng
# Parch: s·ªë cha m·∫π/con c√°i
# +1: ch√≠nh b·∫£n th√¢n ng∆∞·ªùi ƒë√≥

def compute_family_size(row):
    # row l√† 1 Series, truy c·∫≠p nh∆∞ dictionary
    # row['SibSp'] = s·ªë anh ch·ªã em/v·ª£ ch·ªìng
    # row['Parch'] = s·ªë cha m·∫π/con c√°i
    return row['SibSp'] + row['Parch'] + 1

# √Åp d·ª•ng h√†m cho T·ª™NG H√ÄNG (axis=1)
df['FamilySize'] = df.apply(compute_family_size, axis=1)

print("\nüë®‚Äçüë©‚Äçüëß‚Äçüë¶ V√ç D·ª§ 2: DATAFRAME.APPLY(AXIS=1) - T√≠nh FamilySize")
print("="*60)
print(df[['Name', 'SibSp', 'Parch', 'FamilySize']].head(10))
print(f"\nPh√¢n b·ªë FamilySize:")
print(df['FamilySize'].value_counts().sort_index())

üë®‚Äçüë©‚Äçüëß‚Äçüë¶ V√ç D·ª§ 2: DATAFRAME.APPLY(AXIS=1) - T√≠nh FamilySize
============================================================
                                                Name  SibSp  Parch  FamilySize
0                            Braund, Mr. Owen Harris      1      0           2
1  Cumings, Mrs. John Bradley (Florence Briggs Th...      1      0           2
2                             Heikkinen, Miss. Laina      0      0           1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)      1      0           2
4                           Allen, Mr. William Henry      0      0           1
5                                   Moran, Mr. James      0      0           1
6                            McCarthy, Mr. Timothy J      0      0           1
7                     Palsson, Master. Gosta Leonard      3      1           5
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      0      2           3
9                Nasser, Mrs. Nicholas (Adele Achem)      1      0           2

Ph√¢n b·ªë FamilySize:
FamilySize
1     537
2     161
3     102
4      29
5      15
6      22
7      12
8       6
11      7
Name: count, dtype: int64

In [5]:
# ============================================
# 3. SERIES.MAP() - √ÅNH X·∫† GI√Å TR·ªä ƒê∆†N GI·∫¢N
# ============================================
# M·ª•c ƒë√≠ch: Chuy·ªÉn Sex (male/female) th√†nh s·ªë (1/0)
# male ‚Üí 1
# female ‚Üí 0

# C√°ch 1: D√πng dictionary
sex_mapping = {'male': 'nam', 'female': 'nu'}
df['SexCode'] = df['Sex'].map(sex_mapping)

# C√°ch 2: D√πng h√†m (linh ho·∫°t h∆°n)
def encode_sex(sex):
    """Chuy·ªÉn Sex th√†nh s·ªë"""
    if sex == 'male':
        return 'nam'
    else:
        return 'nu'

df['SexCode2'] = df['Sex'].map(encode_sex)

print("\nüöπüö∫ V√ç D·ª§ 3: SERIES.MAP() - M√£ h√≥a Sex th√†nh s·ªë")
print("="*60)
print(df[['Name', 'Sex', 'SexCode', 'SexCode2']].head(10))

üöπüö∫ V√ç D·ª§ 3: SERIES.MAP() - M√£ h√≥a Sex th√†nh s·ªë
============================================================
                                                Name     Sex SexCode SexCode2
0                            Braund, Mr. Owen Harris    male     nam      nam
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female      nu       nu
2                             Heikkinen, Miss. Laina  female      nu       nu
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female      nu       nu
4                           Allen, Mr. William Henry    male     nam      nam
5                                   Moran, Mr. James    male     nam      nam
6                            McCarthy, Mr. Timothy J    male     nam      nam
7                     Palsson, Master. Gosta Leonard    male     nam      nam
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female      nu       nu
9                Nasser, Mrs. Nicholas (Adele Achem)  female      nu       nu

In [6]:
# ============================================
# 4. DATAFRAME.APPLYMAP() - √ÅP D·ª§NG CHO T·ª™NG √î
# ============================================
# M·ª•c ƒë√≠ch: Thay th·∫ø NaN b·∫±ng gi√° tr·ªã m·∫∑c ƒë·ªãnh
# (Ch·ªâ ƒë·ªÉ minh h·ªça - th·ª±c t·∫ø d√πng fillna() nhanh h∆°n!)

# T·∫°o DataFrame nh·ªè ƒë·ªÉ demo
mini_df = df[['Age', 'Fare', 'SibSp']].head(10).copy()

def replace_nan_with_zero(value):
    """
    Thay NaN b·∫±ng 0, gi·ªØ nguy√™n c√°c gi√° tr·ªã kh√°c
    """
    if pd.isna(value):  # Ki·ªÉm tra c√≥ ph·∫£i NaN kh√¥ng
        return 0
    return value

# √Åp d·ª•ng cho T·ª™NG √î trong DataFrame
mini_df_filled = mini_df.applymap(replace_nan_with_zero)

print("\nüî¢ V√ç D·ª§ 4: DATAFRAME.APPLYMAP() - Thay NaN b·∫±ng 0")
print("="*60)
print("Tr∆∞·ªõc khi √°p d·ª•ng:")
print(mini_df)
print("\nSau khi √°p d·ª•ng:")
print(mini_df_filled)

# ‚ö†Ô∏è L∆ØU √ù: Trong pandas hi·ªán ƒë·∫°i, n√™n d√πng .map() thay v√¨ .applymap()
# ho·∫∑c t·ªët nh·∫•t l√† d√πng fillna() cho nhanh!

üî¢ V√ç D·ª§ 4: DATAFRAME.APPLYMAP() - Thay NaN b·∫±ng 0
============================================================
Tr∆∞·ªõc khi √°p d·ª•ng:
    Age     Fare  SibSp
0  22.0   7.2500      1
1  38.0  71.2833      1
2  26.0   7.9250      0
3  35.0  53.1000      1
4  35.0   8.0500      0
5   NaN   8.4583      0
6  54.0  51.8625      0
7   2.0  21.0750      3
8  27.0  11.1333      0
9  14.0  30.0708      1

Sau khi √°p d·ª•ng:
    Age     Fare  SibSp
0  22.0   7.2500      1
1  38.0  71.2833      1
2  26.0   7.9250      0
3  35.0  53.1000      1
4  35.0   8.0500      0
5   0.0   8.4583      0
6  54.0  51.8625      0
7   2.0  21.0750      3
8  27.0  11.1333      0
9  14.0  30.0708      1

C:\Users\Duy Toan\AppData\Local\Temp\ipykernel_21656\1311035382.py:19: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  mini_df_filled = mini_df.applymap(replace_nan_with_zero)

In [10]:
# ============================================
# 5. GROUPBY().TRANSFORM() - T·∫†O FEATURE THEO NH√ìM
# ============================================
# M·ª•c ƒë√≠ch: Chu·∫©n h√≥a Fare theo t·ª´ng Pclass b·∫±ng Z-score
# Z-score = (gi√° tr·ªã - trung b√¨nh) / ƒë·ªô l·ªách chu·∫©n
# ‚Üí C√°c gi√° tr·ªã cao h∆°n trung b√¨nh ‚Üí z > 0
# ‚Üí C√°c gi√° tr·ªã th·∫•p h∆°n trung b√¨nh ‚Üí z < 0

def zscore(series):
    """
    T√≠nh Z-score cho 1 Series
    
    Z-score cho bi·∫øt gi√° tr·ªã c√°ch trung b√¨nh bao nhi√™u ƒë·ªô l·ªách chu·∫©n
    """
    mean = series.mean()
    std = series.std()
    if std == 0:  # Tr√°nh chia cho 0
        return series - mean
    return (series - mean) / std

# Chu·∫©n h√≥a Fare trong T·ª™NG Pclass
# transform() gi·ªØ nguy√™n k√≠ch th∆∞·ªõc DataFrame g·ªëc
df['Fare_zscore_by_Pclass'] = df.groupby('Pclass')['Fare'].transform(zscore)

print("\nüìä V√ç D·ª§ 5: GROUPBY().TRANSFORM() - Chu·∫©n h√≥a Fare theo Pclass")
print("="*60)
print(df[['Name', 'Pclass', 'Fare', 'Fare_zscore_by_Pclass']].head(15))

# Gi·∫£i th√≠ch k·∫øt qu·∫£
print("\nüí° Gi·∫£i th√≠ch:")
print("- Z-score d∆∞∆°ng (>0): Fare cao h∆°n trung b√¨nh c·ªßa l·ªõp ƒë√≥")
print("- Z-score √¢m (<0): Fare th·∫•p h∆°n trung b√¨nh c·ªßa l·ªõp ƒë√≥")
print("- Z-score g·∫ßn 0: Fare g·∫ßn trung b√¨nh")
print(f"\nTrung b√¨nh Fare theo Pclass:")
print(df.groupby('Pclass')['Fare'].mean())

üìä V√ç D·ª§ 5: GROUPBY().TRANSFORM() - Chu·∫©n h√≥a Fare theo Pclass
============================================================
                                                 Name  Pclass     Fare  \
0                             Braund, Mr. Owen Harris       3   7.2500
1   Cumings, Mrs. John Bradley (Florence Briggs Th...       1  71.2833
2                              Heikkinen, Miss. Laina       3   7.9250
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)       1  53.1000
4                            Allen, Mr. William Henry       3   8.0500
5                                    Moran, Mr. James       3   8.4583
6                             McCarthy, Mr. Timothy J       1  51.8625
7                      Palsson, Master. Gosta Leonard       3  21.0750
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)       3  11.1333
9                 Nasser, Mrs. Nicholas (Adele Achem)       2  30.0708
10                    Sandstrom, Miss. Marguerite Rut       3  16.7000
11                           Bonnell, Miss. Elizabeth       1  26.5500
12                     Saundercock, Mr. William Henry       3   8.0500
13                        Andersson, Mr. Anders Johan       3  31.2750
14               Vestrom, Miss. Hulda Amanda Adolfina       3   7.8542

    Fare_zscore_by_Pclass
0               -0.545549
1               -0.164217
2               -0.488239
3               -0.396205
4               -0.477626
5               -0.442960
6               -0.411993
7                0.628236
8               -0.215845
9                0.701225
10               0.256785
11              -0.734938
12              -0.477626
13               1.494247
14              -0.494250

üí° Gi·∫£i th√≠ch:
- Z-score d∆∞∆°ng (>0): Fare cao h∆°n trung b√¨nh c·ªßa l·ªõp ƒë√≥
- Z-score √¢m (<0): Fare th·∫•p h∆°n trung b√¨nh c·ªßa l·ªõp ƒë√≥
- Z-score g·∫ßn 0: Fare g·∫ßn trung b√¨nh

Trung b√¨nh Fare theo Pclass:
Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [11]:
# ============================================
# 6. GROUPBY().AGG() - T·ªîNG H·ª¢P NHANH
# ============================================
# M·ª•c ƒë√≠ch: T√≠nh nhi·ªÅu th·ªëng k√™ theo nh√≥m Pclass
# - T·ª∑ l·ªá s·ªëng s√≥t (survival rate)
# - Tu·ªïi trung b√¨nh (average age)
# - S·ªë l∆∞·ª£ng h√†nh kh√°ch

survival_stats = df.groupby('Pclass').agg({
    'Survived': ['mean', 'sum', 'count'],  # T·ª∑ l·ªá s·ªëng, t·ªïng s·ªëng, t·ªïng ng∆∞·ªùi
    'Age': ['mean', 'median'],              # Tu·ªïi TB, tu·ªïi gi·ªØa
    'Fare': ['mean', 'max', 'min']          # Gi√° TB, cao nh·∫•t, th·∫•p nh·∫•t
})

print("\nüìà V√ç D·ª§ 6: GROUPBY().AGG() - Th·ªëng k√™ theo Pclass")
print("="*60)
print(survival_stats)

# ƒê·∫∑t t√™n c·ªôt r√µ r√†ng h∆°n
survival_stats_clean = df.groupby('Pclass').agg(
    survival_rate=('Survived', 'mean'),
    total_survived=('Survived', 'sum'),
    passenger_count=('Survived', 'count'),
    avg_age=('Age', 'mean'),
    avg_fare=('Fare', 'mean')
).round(2)

print("\nüìã B·∫£ng th·ªëng k√™ r√µ r√†ng h∆°n:")
print(survival_stats_clean)

print("\nüí° Nh·∫≠n x√©t:")
print("- Pclass 1 (h·∫°ng nh·∫•t): t·ª∑ l·ªá s·ªëng s√≥t cao nh·∫•t")
print("- Pclass 3 (h·∫°ng ba): t·ª∑ l·ªá s·ªëng s√≥t th·∫•p nh·∫•t")
print("- Fare (gi√° v√©) t·ª∑ l·ªá thu·∫≠n v·ªõi Pclass")

üìà V√ç D·ª§ 6: GROUPBY().AGG() - Th·ªëng k√™ theo Pclass
============================================================
        Survived                   Age              Fare
            mean  sum count       mean median       mean       max  min
Pclass
1       0.629630  136   216  38.233441   37.0  84.154687  512.3292  0.0
2       0.472826   87   184  29.877630   29.0  20.662183   73.5000  0.0
3       0.242363  119   491  25.140620   24.0  13.675550   69.5500  0.0

üìã B·∫£ng th·ªëng k√™ r√µ r√†ng h∆°n:
        survival_rate  total_survived  passenger_count  avg_age  avg_fare
Pclass
1                0.63             136              216    38.23     84.15
2                0.47              87              184    29.88     20.66
3                0.24             119              491    25.14     13.68

üí° Nh·∫≠n x√©t:
- Pclass 1 (h·∫°ng nh·∫•t): t·ª∑ l·ªá s·ªëng s√≥t cao nh·∫•t
- Pclass 3 (h·∫°ng ba): t·ª∑ l·ªá s·ªëng s√≥t th·∫•p nh·∫•t
- Fare (gi√° v√©) t·ª∑ l·ªá thu·∫≠n v·ªõi Pclass

In [ ]:
# ============================================
# 7. GROUPBY().APPLY() - LINH HO·∫†T NH·∫§T
# ============================================
# M·ª•c ƒë√≠ch: L·∫•y TOP 2 h√†nh kh√°ch tr·∫£ Fare cao nh·∫•t m·ªói Pclass

def top_2_by_fare(group_df):
    """
    H√†m l·∫•y 2 h√†ng c√≥ Fare cao nh·∫•t trong 1 nh√≥m
    
    Args:
        group_df: DataFrame c·ªßa 1 nh√≥m (VD: t·∫•t c·∫£ h√†nh kh√°ch Pclass=1)
        
    Returns:
        DataFrame ch·ªâ c√≥ 2 h√†ng c√≥ Fare cao nh·∫•t
    """
    # S·∫Øp x·∫øp theo Fare gi·∫£m d·∫ßn, l·∫•y 2 h√†ng ƒë·∫ßu
    return group_df.nlargest(2, 'Fare')

# √Åp d·ª•ng h√†m cho T·ª™NG NH√ìM Pclass
top_passengers = df.groupby('Pclass').apply(top_2_by_fare)

print("\nüèÜ V√ç D·ª§ 7: GROUPBY().APPLY() - Top 2 Fare cao nh·∫•t m·ªói Pclass")
print("="*60)
print(top_passengers[['Name', 'Pclass', 'Fare', 'Survived']])

print("\nüí° Gi·∫£i th√≠ch:")
print("- groupby('Pclass') chia th√†nh 3 nh√≥m (Pclass 1, 2, 3)")
print("- apply(top_2_by_fare) ch·∫°y h√†m tr√™n T·ª™NG nh√≥m")
print("- M·ªói nh√≥m tr·∫£ v·ªÅ 2 h√†ng ‚Üí T·ªïng 6 h√†ng (3 nh√≥m √ó 2)")
print("- H√†m apply() linh ho·∫°t nh·∫•t nh∆∞ng ch·∫≠m nh·∫•t!")

In [ ]:
# ============================================
# 8. ROLLING().APPLY() - C·ª¨A S·ªî TR∆Ø·ª¢T
# ============================================
# M·ª•c ƒë√≠ch: T√≠nh median Fare v·ªõi c·ª≠a s·ªï 5 h√†ng li√™n ti·∫øp
# C·ª≠a s·ªï tr∆∞·ª£t: [h√†ng 1-5], [h√†ng 2-6], [h√†ng 3-7], ...

# S·∫Øp x·∫øp theo PassengerId ƒë·ªÉ ƒë·∫£m b·∫£o th·ª© t·ª±
df_sorted = df.sort_values('PassengerId').copy()

# T√≠nh median Fare trong c·ª≠a s·ªï 5 h√†ng
df_sorted['Fare_median_rolling5'] = df_sorted['Fare'].rolling(window=5).apply(
    lambda x: np.median(x), 
    raw=True  # raw=True nhanh h∆°n (truy·ªÅn numpy array thay v√¨ Series)
)

print("\nü™ü V√ç D·ª§ 8: ROLLING().APPLY() - Median Fare c·ª≠a s·ªï 5 h√†ng")
print("="*60)
print(df_sorted[['PassengerId', 'Fare', 'Fare_median_rolling5']].head(10))

print("\nüí° Gi·∫£i th√≠ch:")
print("- 4 h√†ng ƒë·∫ßu = NaN v√¨ ch∆∞a ƒë·ªß 5 h√†ng ƒë·ªÉ t√≠nh")
print("- H√†ng 5: median c·ªßa [Fare h√†ng 1-5]")
print("- H√†ng 6: median c·ªßa [Fare h√†ng 2-6]")
print("- C·ª≠a s·ªï 'l∆∞·ªõt' qua d·ªØ li·ªáu ‚Üí Rolling window")
print("- D√πng cho time series (d·ªØ li·ªáu theo th·ªùi gian)")

In [ ]:
# ============================================
# 9. PIPE() - X√ÇU CHU·ªñI PIPELINE
# ============================================
# M·ª•c ƒë√≠ch: ƒê√≥ng g√≥i nhi·ªÅu b∆∞·ªõc x·ª≠ l√Ω th√†nh pipeline r√µ r√†ng

def clean_and_engineer(df):
    """
    H√†m l√†m s·∫°ch v√† t·∫°o features
    Pipeline g·ªìm nhi·ªÅu b∆∞·ªõc
    """
    df = df.copy()  # Tr√°nh s·ª≠a DataFrame g·ªëc
    
    # B∆∞·ªõc 1: ƒêi·ªÅn NaN cho Age b·∫±ng median
    df['Age'] = df['Age'].fillna(df['Age'].median())
    
    # B∆∞·ªõc 2: T·∫°o feature IsChild (d∆∞·ªõi 18 tu·ªïi)
    df['IsChild'] = (df['Age'] < 18).astype(int)
    
    # B∆∞·ªõc 3: T·∫°o feature FamilySize
    df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
    
    # B∆∞·ªõc 4: T·∫°o feature IsAlone (ƒëi m·ªôt m√¨nh)
    df['IsAlone'] = (df['FamilySize'] == 1).astype(int)
    
    return df

# S·ª≠ d·ª•ng pipe() ƒë·ªÉ √°p d·ª•ng h√†m
df_processed = (df
    .pipe(clean_and_engineer)  # B∆∞·ªõc 1: L√†m s·∫°ch v√† t·∫°o features
    .assign(                    # B∆∞·ªõc 2: Th√™m features b·∫±ng assign()
        AgeGroup=lambda x: pd.cut(x['Age'], bins=[0, 12, 18, 60, 100], 
                                  labels=['Child', 'Teen', 'Adult', 'Senior'])
    )
)

print("\nüîó V√ç D·ª§ 9: PIPE() - Pipeline x·ª≠ l√Ω d·ªØ li·ªáu")
print("="*60)
print("Features m·ªõi ƒë∆∞·ª£c t·∫°o:")
print(df_processed[['Name', 'Age', 'IsChild', 'FamilySize', 'IsAlone', 'AgeGroup']].head(10))

print("\nüí° ∆Øu ƒëi·ªÉm c·ªßa pipe():")
print("- Code r√µ r√†ng, d·ªÖ ƒë·ªçc")
print("- D·ªÖ test t·ª´ng h√†m ri√™ng bi·ªát")
print("- D·ªÖ th√™m/b·ªõt b∆∞·ªõc trong pipeline")
print("- Tr√°nh t·∫°o nhi·ªÅu bi·∫øn trung gian")

In [ ]:
# ============================================
# üéØ T√ìM T·∫ÆT: KHI N√ÄO D√ôNG H√ÄM N√ÄO?
# ============================================
print("\n" + "="*70)
print("üìö T√ìM T·∫ÆT C√ÅC LO·∫†I H√ÄM T√ôY CH·ªàNH TRONG PANDAS")
print("="*70)

summary = """
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ H√ÄM                     ‚îÇ KHI N√ÄO D√ôNG             ‚îÇ V√ç D·ª§               ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 1. Series.apply()       ‚îÇ X·ª≠ l√Ω T·ª™NG PH·∫¶N T·ª¨      ‚îÇ Tr√≠ch Title t·ª´ Name ‚îÇ
‚îÇ                         ‚îÇ c·ªßa 1 c·ªôt                ‚îÇ                     ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 2. DataFrame.apply()    ‚îÇ X·ª≠ l√Ω T·ª™NG H√ÄNG          ‚îÇ T√≠nh FamilySize     ‚îÇ
‚îÇ    (axis=1)             ‚îÇ (c·∫ßn nhi·ªÅu c·ªôt)          ‚îÇ t·ª´ SibSp + Parch    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 3. Series.map()         ‚îÇ √ÅNH X·∫† gi√° tr·ªã ƒë∆°n gi·∫£n  ‚îÇ Sex ‚Üí SexCode       ‚îÇ
‚îÇ                         ‚îÇ (dict ho·∫∑c h√†m)          ‚îÇ male‚Üí1, female‚Üí0    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 4. DataFrame.applymap() ‚îÇ X·ª≠ l√Ω T·ª™NG √î             ‚îÇ Thay NaN b·∫±ng 0     ‚îÇ
‚îÇ    (√≠t d√πng)            ‚îÇ (∆∞u ti√™n vectorized!)    ‚îÇ (n√™n d√πng fillna)   ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 5. groupby().transform()‚îÇ T·∫°o feature THEO NH√ìM    ‚îÇ Z-score Fare        ‚îÇ
‚îÇ                         ‚îÇ (gi·ªØ size g·ªëc)           ‚îÇ theo t·ª´ng Pclass    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 6. groupby().agg()      ‚îÇ T·ªîNG H·ª¢P nhanh theo nh√≥m ‚îÇ Survival rate       ‚îÇ
‚îÇ                         ‚îÇ (mean, sum, count...)    ‚îÇ theo Pclass         ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 7. groupby().apply()    ‚îÇ Logic PH·ª®C T·∫†P theo nh√≥m ‚îÇ Top 2 Fare          ‚îÇ
‚îÇ                         ‚îÇ (linh ho·∫°t nh·∫•t)         ‚îÇ m·ªói Pclass          ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 8. rolling().apply()    ‚îÇ C·ª¨A S·ªî TR∆Ø·ª¢T            ‚îÇ Median Fare         ‚îÇ
‚îÇ                         ‚îÇ (time series)            ‚îÇ 5 h√†ng li√™n ti·∫øp    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 9. pipe()               ‚îÇ X√ÇU CHU·ªñI nhi·ªÅu b∆∞·ªõc     ‚îÇ Pipeline x·ª≠ l√Ω      ‚îÇ
‚îÇ                         ‚îÇ (clean ‚Üí engineer)       ‚îÇ d·ªØ li·ªáu g·ªçn g√†ng    ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

‚ö° QUY T·∫ÆC V√ÄNG:
‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ
‚úÖ ∆ØU TI√äN vectorized operations (nhanh h∆°n 100-1000 l·∫ßn!)
   ‚Üí df['A'] + df['B'], df['C'].str.upper(), np.where(), pd.cut()

‚ö†Ô∏è  CH·ªà D√ôNG apply() khi:
   ‚Üí Logic ph·ª©c t·∫°p KH√îNG c√≥ vectorized method
   ‚Üí C·∫ßn x·ª≠ l√Ω NHI·ªÄU C·ªòT c√πng l√∫c (row-wise)
   ‚Üí GroupBy v·ªõi logic ƒë·∫∑c bi·ªát

‚ùå TR√ÅNH apply() khi c√≥ th·ªÉ d√πng:
   ‚Üí Ph√©p to√°n c·ªôt: df['A'] + df['B'] thay v√¨ apply(lambda x: x['A']+x['B'])
   ‚Üí String methods: .str.contains() thay v√¨ apply(lambda x: 'word' in x)
   ‚Üí Fillna, replace, map thay v√¨ apply(lambda x: 0 if pd.isna(x) else x)

üèÜ TH·ª® T·ª∞ ∆ØU TI√äN (t·ª´ NHANH ‚Üí CH·∫¨M):
   1. Vectorized operations (nhanh nh·∫•t ‚ö°‚ö°‚ö°)
   2. map() v·ªõi dictionary (nhanh ‚ö°‚ö°)
   3. transform() / agg() (trung b√¨nh ‚ö°)
   4. apply() tr√™n Series (ch·∫≠m üê¢)
   5. apply(axis=1) tr√™n DataFrame (ch·∫≠m h∆°n üê¢üê¢)
   6. groupby().apply() (ch·∫≠m nh·∫•t üê¢üê¢üê¢)
"""

print(summary)
print("="*70)
print("‚úì ƒê√£ h·ªçc xong c√°c lo·∫°i h√†m t√πy ch·ªânh trong pandas!")